<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{%block title%}{% endblock%}</title>
<link href="{{ STATIC_URL }}images/favicon.ico" rel="shortcut icon">


	<!-- Include CSS -->
	<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
	{%block css%}{%endblock%} <!-- End CSS -->


	<!-- Include Scripts -->
	<script type="text/javascript" src="{{ STATIC_URL }}js/superfish.js"></script>
	{%block js%}{%endblock%} <!-- End Scripts -->

	<!-- Start Google Analytics -->
	<script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32882337-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
	<!-- End Google Analytics -->

	<!-- start Mixpanel -->
	<script type="text/javascript">(function(c,a){var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?g=
    a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1;window.mixpanel=a})(document,window.mixpanel||[]);
    mixpanel.init("7ae3c4e4fd6abd8b7a861ee096120052");</script>
	<!-- end Mixpanel -->

	{%block extraHead%}{%endblock%}
</head>

<body onload="initialize()">
	{%block MixPanel%}{%endblock%}

	<!-- START HEADER -->
	<div id="header">

		<div class="container">


			<!-- start primary nav -->
			<div class="header-right">

				<div id="primary-nav" class="header-right">

					<ul class="sf-menu">
						<li style="background:#3B5998; font-size:24px;padding:26.5px;border-right: 2px solid white;"><a style="color:white;" href="{{ URL }}/home">Favorites</a></li>
						<li style="color:white;background:#3B5998; font-size:24px;padding:26.5px"><a style="color:white;" href="{{ URL }}/newdiscoveries">Rewards</a></li>
						<li><a href="{{ URL }}/me">| My Account</a></li>

					</ul>

				</div>

			</div>
			<!-- end nav -->

			<!-- LOGO -->
			<a href="{{ URL }}/home" id="logo"><img
				src="{{ STATIC_URL }}images/logo.png" border="0" alt="logo" /></a> <br
				class="clear" />

		</div>

	</div>
	<!-- END HEADER -->

	<!-- START MAIN CONTAINER -->
	{%block content%}{%endblock%}
	<!-- END MAIN CONTAINER -->
	<br class="clear" />
	
	<!-- START FOOTER -->
	<div id="footer">

		<div class="container">




			<div id="footer-right">

				<a class="icon" href="http://www.facebook.com/gotivly" target="_blank"
					class="social facebook">Fan Us</a> <a
					href="https://twitter.com/tivlytweets" target="_blank"
					class="social twitter">Follow Us</a><br />
				<a class="icon" href="https://mixpanel.com/f/partner"><img
					src="https://mixpanel.com/site_media/images/partner/badge_light.png"
					alt="Mobile Analytics" /></a>

			</div>

			<a id="top" href="#">Top</a> | <a href="{{ URL }}/aboutus">About Us</a> | <a
				href="{{ URL }}/jobs">Jobs</a> | <a href="{{ URL }}/contact">Contact</a><br /> &copy
			2012 tivly Corporation<br /> <br class="clear" />

		</div>

	</div>
	<!-- END FOOTER -->

</body>
</html>
