<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>My Favorites - Tivly</title>
    <link href="images/favicon.ico" rel="shortcut icon">

    
    <!-- Include CSS -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/jquery.fancybox.css" rel="stylesheet" type="text/css" media="screen" />

    <!-- Include Scripts -->	
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="js/superfish.js"></script>
    <script type="text/javascript" src="js/jquery.color.js"></script>
    <script type="text/javascript" src="js/slides.min.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>	
    <script type="text/javascript" src="js/custom.js"></script>	

<!-- Google Analytics -->
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32882337-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
<!-- Add jQuery UI -->
<link type="text/css" href="jqueryui/css/excite-bike/jquery-ui-1.8.21.custom.css" rel="stylesheet" />
<script type="text/javascript" src="jqueryui/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="jqueryui/js/jquery-ui-1.8.21.custom.min.js"></script>
<!-- Add Tabs UI -->
<script>
	$(function() {
		$( "#tabs" ).tabs();
	});
	</script>
<!-- Add ShareThis -->
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "269ded35-cfb6-4b85-b449-f860b82be542"}); </script>
<!-- start Mixpanel -->
    <script type="text/javascript">(function(c,a){var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?g=
    a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1;window.mixpanel=a})(document,window.mixpanel||[]);
    mixpanel.init("7ae3c4e4fd6abd8b7a861ee096120052");</script>
<!-- end Mixpanel -->
</head>

<body>
<script type="text/javascript">
    mixpanel.track("My Favorites Viewed")
</script>

<!-- START HEADER -->
<div id="header">

	<div class="container">
    
    
    	<!-- start primary nav -->
        <div class="header-right">
        
            <div id="primary-nav" class="header-right">
            
                <ul class="sf-menu">
                    <li><a href="myfavorites.html"><img src="images/myfavorites.png"/></a></li>
                    <li><a href="newdiscoveries.html"><img src="images/newdiscoveries.png"/></a></li>
		    <li><a href="#">|  My Account</a></li>

                </ul>
                
            </div>
        
        </div><!-- end nav -->
        
        <!-- LOGO -->        
    	<a href="myfavorites.html" id="logo"><img src="images/logo.png" border="0" alt="WhiteBox Premium App Site Template" /></a>
        
        <br class="clear" />
        
    </div>
    
</div><!-- END HEADER -->


<!-- START MAIN CONTAINER -->
<div class="container">
<h1 class="page-header eat clear">Baume</h1>

    <div class="grid onehalf" style="margin-top:20px;">
                <img src="images/stores/baume.png"/ style="border:1px solid black;box-shadow: 4px 3px 4px #666666;">
                <p>The spirit of Brazil meets luxury and extravagance at Redwoods in the heart of downtown Palo Alto. Here, the authenticity of the Brazilian churrasco comes to a modern dining emporium where impromptu gatherings, romantic rendezvous, family dinners and corporate events feel at home.
    </div>

    <div class="grid onehalf last" style="margin-top:20px;">
            <div id="tabs">
                <ul>
                        <li><a href="#tabs-1" style="font-size: 20px">Get Social</a></li>
                        <li><a href="#tabs-2" style="font-size: 20px">My Baume</a></li>
                </ul>
                <div id="tabs-1">
                    <div class="getsocial">
                        <h1>Share Baume with your friends!</h1>
                        <h2 style="font-size:24px">They get a <span style="color:#ff9966">10% Discount</span>, and you do too - everyone's a winner</h2>
                        <span class='st_facebook_vcount' displayText='Facebook'></span>
                        <span class='st_twitter_vcount' displayText='Tweet'></span>
                        <span class='st_linkedin_vcount' displayText='LinkedIn'></span>
                        <span class='st_email_vcount' displayText='Email'></span>
                        <span class='st_sharethis_vcount' displayText='ShareThis'></span>
                    </div>
                </div>
                <div id="tabs-2">
                        <table>
                            <tr>
                                <td style="padding-right:100px">Recommended to Friends</td>
                                <td>6</td>
                            </tr>
                            <tr>
                                <td style="padding-right:100px">Redeemed by Friends</td>
                                <td>3</td>
                            </tr>
                            <tr>
                                <td style="padding-right:100px">My Used Rewards</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td style="padding-right:100px; color:#09c">Remaining Rewards</td>
                                <td style="color:#09c">1</td>
                            </tr>
                        </table>
                </div>
                </div>
    </div>
<br class="clear" />

    <div class="grid onehalf" style="margin-top:20px;">
        

    </div>
    <div class="grid onehalf last" style="margin-top:20px;border:2px solid black;padding:5px;">
    <h5>Hours of Operation</h5>
        <div class="grid onethirdone" style="width:120px;margin:0px;">
        <h6 style="margin:0px;padding:0px;">Monday</h6>
        <p>11:30am - 2:00pm</p>
        <p>5:30pm - 9:30pm</p>
        <h6 style="margin:0px;padding:0px;">Tuesday</h6>
        <p>11:30am - 2:00pm</p>
        <p>5:30pm - 9:30pm</p>
        <h6 style="margin:0px;padding:0px;">Wednesday</h6>
        <p>11:30am - 2:00pm</p>
        <p>5:30pm - 9:30pm</p>
        </div>
        <div class="grid onethirdone" style="width:120px;margin:0px;">
        <h6 style="margin:0px;padding:0px;">Thursday</h6>
        <p>11:30am - 2:00pm</p>
        <p>5:30pm - 9:30pm</p>
        <h6 style="margin:0px;padding:0px;">Friday</h6>
        <p>11:30am - 2:00pm</p>
        <p>5:30pm - 10:30pm</p>
        </div>
        <div class="grid onethirdone last" style="width:120px;margin:0px;hover:none;">
        <h6 style="margin:0px;padding:0px;">Saturday</h6>
        <p>5:30pm - 10:30pm</p>
        <h6 style="margin:0px;padding:0px;">Sunday</h6>
        <p>5:00pm - 9:00pm</p>
        </div>  
    </div>
<br class="clear" />
<h1 class="page-header">What tivly users are saying about Baume:</h1>
<br class="clear" />

</div>

    
<br class="clear" />
    
</div><!-- END MAIN CONTAINER -->



<!-- START FOOTER -->
<div id="footer">

	<div class="container">
    
    

    
    	<div id="footer-right">
        
            <a href="http://www.facebook.com/gotivly" target="_blank" class="social facebook">Fan Us</a> <a href="https://twitter.com/tivlytweets" target="_blank" class="social twitter">Follow Us</a><br /><a href="https://mixpanel.com/f/partner"><img src="https://mixpanel.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
            
        </div>
    
		<a id="top" href="#">Top</a> | <a href="aboutus.html">About Us</a> | <a href="jobs.html">Jobs</a> | <a href="contact.html">Contact</a><br />
        &copy 2012 tivly Corporation<br />
        
        <br class="clear" />
    
  </div>
    
</div><!-- END FOOTER -->

</body>
</html>
