{% extends 'base.html'%}
{%block title%}My Favorites - Tivly{% endblock%}
{%block extraHead%}
<script type="text/javascript"
	src="http://maps.googleapis.com/maps/api/js?key={{ GOOGLEMAPS_API_KEY }}&sensor=false">
    </script>
<script type="text/javascript">
      function initialize() {
        var myOptions = {
          center: new google.maps.LatLng({{ lat }}, {{ lng }}),
          zoom: 16,
          zoomControl: true,
          streetViewControl: true,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            myOptions);
        
       var marker = new google.maps.Marker({
  		position: new google.maps.LatLng({{lat }}, {{ lng }}), 
  		map: map
		});
      }
    </script>

<!-- Add jQuery UI -->
<link type="text/css"
	href="{{ STATIC_URL }}jqueryui/css/excite-bike/jquery-ui-1.8.21.custom.css"
	rel="stylesheet" />
<script type="text/javascript"
	src="{{ STATIC_URL }}jqueryui/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript"
	src="{{ STATIC_URL }}jqueryui/js/jquery-ui-1.8.21.custom.min.js"></script>
<!-- Add Tabs UI -->
<script>
	$(function() {
		$( "#tabs" ).tabs();
	});
	</script>
	
<script>
	$(function() {
		$( "#progressbar" ).progressbar({
			value: {{ redeemed }}*100/{{rewards5.pointsNeeded}}
		});           
	});
	$(function() {
		$( "#progressbar2" ).progressbar({
			value: {{redeemed}}*100/{{rewards10.pointsNeeded}}
		});           
	});
</script>
{%endblock%}

{%block content%}
<!-- START MAIN CONTAINER -->
<div class="container">
<h1 class="page-header eat clear">{{ business.businessName }}</h1>

    <div class="grid onehalf" style="margin-top:20px;">
                <img src="{{ business.pictureLocation }}" style="border:1px solid black;box-shadow: 4px 3px 4px #666666;">
                <p>{{ business.description }}</p>
    </div>

    <div class="grid onehalf last" style="margin-top:20px;">
		<div id="tabs">
			<ul>
				<li><a href="#tabs-1" style="font-size: 20px">Get Social</a></li>
				<li><a href="#tabs-2" style="font-size: 20px">My
						{{business.businessName}}</a></li>
			</ul>
			<div id="tabs-1">
				<div class="getsocial">
					<h1>Share {{ business.businessName }} with your friends!</h1>
					<h2 style="font-size: 24px">
						They get <span style="color: #ff9966">{{rewards0.description }}</span>, and you earn points towards awesome rewards - check your progress in my {{business.businessName }}
					</h2>
				</div>
								<!-- Start Shareaholic Sexy Bookmark HTML-->
				<div class="shr_class shareaholic-show-on-load"></div>
				<!-- End Shareaholic Sexy Bookmark HTML -->
				<!-- Start Shareaholic Sexy Bookmark settings -->
				<script type="text/javascript">
var SHRSB_Settings = {"shr_class":{"src":"{{ STATIC_URL }}shareaholic_sexybookmarks","link":"{{ URL }}/offer/{{ recid }}","service":"5,7,313","apikey":"0747414f47c2b684cf5480c36b2478689","localize":true,"shortener":"","shortener_key":"","designer_toolTips":true,"tip_bg_color":"black","tip_text_color":"white","twitter_template":"{{ URL }}/offer/{{ recid }}" - @Tivlytweets}}";
var SHRSB_Globals = {"perfoption":"1"};
</script>
				<!-- End Shareaholic Sexy Bookmark settings -->
				<!-- Start Shareaholic Sexy Bookmark script -->
				<script type="text/javascript">
(function() {
var sb = document.createElement("script"); sb.type = "text/javascript";sb.async = true;
sb.src = ("https:" == document.location.protocol ? "https://dtym7iokkjlif.cloudfront.net" : "http://cdn.shareaholic.com") + "/media/js/jquery.shareaholic-publishers-sb.min.js";
var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(sb, s);
})();
</script>

<!-- End Shareaholic Sexy Bookmark script -->		</div>
			<div id="tabs-2">
				<table>
					<tr>
						<td style="padding-right: 100px">Redeemed by Friends</td>
						<td>{{ redeemed }}</td>
					</tr>
					<tr>
					<td colspan="2" style="padding-right:0px; padding-top:0px;border:none; font-size:14px"><em>When <span style="color:#09c"> {{rewards5.pointsNeeded}} friends</span> redeem discounts, you get {{rewards5.description}}!</em></td>
                    		</tr>
                            <tr>
                                <td colspan="2" style="border:none;padding:0px; margin:0px;"><div id="progressbar" style="border:2px solid blue; padding:0px; margin:0px;"></div></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="padding-right:0px; padding-top:0px;border:none; font-size:14px"><em>When <span style="color:#09c">{{rewards10.pointsNeeded}} friends</span> redeem discounts, you get {{rewards10.description}}!</em></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="border:none;padding:0px; margin:0px;"><div id="progressbar2" style="border:2px solid blue; padding:0px; margin:0px;"></div></td>
                            </tr>
				</table>
			</div>
		</div>

	</div>
<br class="clear" />
	
	 <div class ="grid onehalf" id="map_canvas" style="width: 420px; height: 283px; margin-top:20px;"></div>
	
    <div class="grid onehalf last" style="margin-top:20px;border:2px solid black;padding:5px;">
    <h5>Hours of Operation</h5>
        <div class="grid onethirdone" style="width:120px;margin:0px;">
        <h6 style="margin:0px;padding:0px;">Monday</h6>
        <p>{{ business.mondayHours }}</p>
        <h6 style="margin:0px;padding:0px;">Tuesday</h6>
        <p>{{ business.tuesdayHours }}</p>
        <h6 style="margin:0px;padding:0px;">Wednesday</h6>
        <p>{{ business.wednesdayHours }}</p>
        </div>
        <div class="grid onethirdone" style="width:120px;margin:0px;">
        <h6 style="margin:0px;padding:0px;">Thursday</h6>
        <p>{{ business.thursdayHours }}</p>
        <h6 style="margin:0px;padding:0px;">Friday</h6>
        <p>{{ business.fridayHours }}</p>
        </div>
        <div class="grid onethirdone last" style="width:120px;margin:0px;hover:none;">
        <h6 style="margin:0px;padding:0px;">Saturday</h6>
        <p>{{ business.saturdayHours }}</p>
        <h6 style="margin:0px;padding:0px;">Sunday</h6>
        <p>{{ business.sundayHours }}</p>
        </div>  
    </div>
    
<br class="clear" />
<h1 class="page-header">What tivly users are saying about {{ business.businessName }}:</h1>
<br class="clear" />

</div>

    
<br class="clear" />
<!-- END MAIN CONTAINER -->
{%endblock%}
