{% extends 'base.html'%}
{% load custom_filters %}
{% load url from future %}

<!-- Facebook Sharer tags -->
<meta property="og:title" content="{{introReward.description }} at {{business.businessName}}"/> 
<meta property="og:type" content="website"/> 
<meta property="og:image" content="{{ business.pictureLocation|externalurl}}" />
<meta property="og:url" content="https://www.tivly.com/offer/{{ csID }}/{{ rID }}/" />
<meta property="og:site_name" content="Tivly" />
<meta name="og:description" content="This gift to {{business.businessName}} is loaded directly to your payment card! Signup, connect a card, and just swipe to redeem your {{introReward.description }}!" />
<meta property="fb:app_id" content="{{FACEBOOK_APP_ID}}"/>
<link rel="image_src" 
      href="{{business.pictureLocation|externalurl}}" />
      
{%block title%}Tivly - {{ business.businessName }}{% endblock%}

{%block js%}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key={{ GOOGLEMAPS_API_KEY }}&sensor=false"></script>
<script type="text/javascript">
      function initialize() {
        var myOptions = {
          center: new google.maps.LatLng({{ lat }}, {{ lng }}),
          zoom: 16,
          zoomControl: true,
          streetViewControl: true,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            myOptions);
        
       var marker = new google.maps.Marker({
  		position: new google.maps.LatLng({{lat }}, {{ lng }}), 
  		map: map
		});
      }
    </script>

<!-- Add jQuery UI -->
<link type="text/css"href="{{ STATIC_URL }}jqueryui/css/excite-bike/jquery-ui-1.8.21.custom.css" rel="stylesheet" />
<script type="text/javascript" src="{{ STATIC_URL }}jqueryui/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jqueryui/js/jquery-ui-1.8.21.custom.min.js"></script>

<!-- Add Tabs UI -->
<script>
	$(function() {
		$( "#tabs" ).tabs();
	});
	</script>
	
<script>
	$(function() {
		$( "#progressbar" ).progressbar({
			value: {{ redeemed }}*100/{{level1Reward.pointsNeeded}}
		});           
	});
	$(function() {
		$( "#progressbar2" ).progressbar({
			value: {{redeemed}}*100/{{level2Reward.pointsNeeded}},
		});           
	});
</script>



<!-- Start Shareaholic Sexy Bookmark settings -->
<script type="text/javascript">
var SHRSB_Settings = {"shr_class":{"src":"{{ STATIC_URL }}shareaholic_sexybookmarks","link":"{{ URL }}/offer/{{ csID }}/{{ rID }}","service":"5,7,313","apikey":"0747414f47c2b684cf5480c36b2478689","localize":true,"shortener":"","shortener_key":"","designer_toolTips":true,"tip_bg_color":"black","tip_text_color":"white","twitter_template":"Get rewarded for sharing the restaurants you love - {{ URL }}/offer/{{ csID }}/{{ rID }} - @Tivlytweets {{ hashtag }}"}};
var SHRSB_Globals = {"perfoption":"1"};
</script>
				<!-- End Shareaholic Sexy Bookmark settings -->
				<!-- Start Shareaholic Sexy Bookmark script -->
				<script type="text/javascript">
(function() {
var sb = document.createElement("script"); sb.type = "text/javascript";sb.async = true;
sb.src = ("https:" == document.location.protocol ? "https://dtym7iokkjlif.cloudfront.net" : "http://cdn.shareaholic.com") + "/media/js/jquery.shareaholic-publishers-sb.min.js";
var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(sb, s);
})();
</script>

<!-- End Shareaholic Sexy Bookmark script -->	
{%endblock%}

{%block content%}
<div class="container">

    <div class="grid onehalf" style="margin-top:40px;">
                <img src="{{ business.pictureLocation }}" style="border:1px solid black;box-shadow: 4px 3px 4px #666666;">
                <p>{{ business.description }}</p>
    </div>

    <div class="grid onehalf last" style="margin-top:40px;">
		<div id="tabs">
			<ul>
				<li><a href="#tabs-1" style="font-size: 20px">Share</a></li>
				<li><a href="#tabs-2" style="font-size: 20px">My
						{{business.businessName}}</a></li>
			</ul>
			<div id="tabs-1">
				<div class="getsocial">
			      <h1>Share {{ business.businessName }}:</h1>
					<ul style="border:none">
					  <li style="display:inline-block; float:left"><a href="https://www.facebook.com/sharer/sharer.php?u=https://www.tivly.com/offer/{{ csID }}/{{ rID }}/" target="_blank" style="border:none"><img style="padding:2px;border:none; width:50px;" src="{{ STATIC_URL }}images/social/facebook.png" />
					  </a></li>
					  <li style="display:inline-block; float:left"><a href="http://twitter.com/?status=Get {{introReward.description }} at {{business.businessName}}!+{{ URL }}/offer/{{ csID }}/{{ rID }}/+%23{{business.businessName}}+%23Tivly+@tivlytweets" target="_blank" style="border:none"><img style="padding:2px;width:50px;border:none;border-radius: 10px;" src="{{ STATIC_URL }}images/social/twitter.png" /></a></li>

					  <li style="display:inline-block; float:left"> <a href="mailto:?subject=Get%20{{introReward.description }}%20at%20{{business.businessName}}!&body=This%20gift%20to%20{{business.businessName}}%20is%20loaded%20directly%20to%20your%20payment%20card!%20Signup,%20connect%20a%20card,%20and%20just%20swipe%20to%20redeem%20your%20{{introReward.description }}!%0A%0A{{ URL }}/offer/{{ csID }}/{{ rID }}/" target="_blank" style="border:none"><img style="padding:2px;border:none;width:50px;" src="{{ STATIC_URL }}images/social/email.png" /></a></li>
					  
					</ul>
					<br style="clear:both">
				<!-- Start Shareaholic Sexy Bookmark HTML
				<div class="shr_class shareaholic-show-on-load"></div>
				 End Shareaholic Sexy Bookmark HTML -->
				    <div style="margin:0px; padding:2px 10px 2px 8px; border: 1px dotted #bbb; border-radius: 3px;display:inline-block;">
				<p style="margin:0px">Copy this unique link anywhere you want to share:</p>
				<h6 style="margin:0px; font-size:16px; color:#333"> {{ URL }}/offer/{{ csID }}/{{ rID }}/</h6>
				    </div>
					<h2 style="font-size: 24px; margin:10px 0px 0px 0px">
						Friends get <span style="color: #33cc66">{{introReward.description }}</span>, and you earn awesome rewards - check your progress in My {{business.businessName }}
					</h2>
				</div>
					</div>
			<div id="tabs-2">
			    {% if error %}
			    <table>
					<tr>
						<td style="padding-right: 100px">Please login to see more info</td>
					</tr>
			    </table>
			    {% else%}
				<table>
					<tr>
						<td style="padding-right: 100px">Redeemed by Friends</td>
						<td>{{ redeemed }}</td>
					</tr>
					<tr>
					<td colspan="2" style="padding-right:0px; padding-top:0px;border:none; font-size:14px"><em>When <span style="color:#3c6"> {{level1Reward.pointsNeeded}} friends</span> redeem rewards, you get {{level1Reward.description}}!</em></td>
                    		</tr>
                            <tr>
                                <td colspan="2" style="border:none;padding:0px; margin:0px;"><div id="progressbar" style="border:2px solid #3c6; padding:0px; margin:0px;"></div></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="padding-right:0px; padding-top:0px;border:none; font-size:14px"><em>When <span style="color:#3c6">{{level2Reward.pointsNeeded}} friends</span> redeem rewards, you get {{level2Reward.description}}!</em></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="border:none;padding:0px; margin:0px;"><div id="progressbar2" style="border:2px solid #3c6; padding:0px; margin:0px;"></div></td>
                            </tr>
				</table>
				{% endif %}
			</div>
		</div>

	</div>
<br class="clear" />
	
	 <div class ="grid onehalf" id="map_canvas" style="width: 420px; height: 283px; margin-top:20px;"></div>
	 <p>{{ business.street }}, {{ business.city }}, {{ business.zipCode }}</p>
	
    <div class="grid onehalf last" style="margin-top:20px;border:2px solid black;padding:5px;">
    <h5>Hours of Operation</h5>
        <div class="grid onethirdone" style="width:120px;margin:0px;">
        <h6 style="margin:0px;padding:0px;">Monday</h6>
        <p>{{ business.mondayHours }}</p>
        <h6 style="margin:0px;padding:0px;">Tuesday</h6>
        <p>{{ business.tuesdayHours }}</p>
        <h6 style="margin:0px;padding:0px;">Wednesday</h6>
        <p>{{ business.wednesdayHours }}</p>
        </div>
        <div class="grid onethirdone" style="width:120px;margin:0px;">
        <h6 style="margin:0px;padding:0px;">Thursday</h6>
        <p>{{ business.thursdayHours }}</p>
        <h6 style="margin:0px;padding:0px;">Friday</h6>
        <p>{{ business.fridayHours }}</p>
        </div>
        <div class="grid onethirdone last" style="width:120px;margin:0px;hover:none;">
        <h6 style="margin:0px;padding:0px;">Saturday</h6>
        <p>{{ business.saturdayHours }}</p>
        <h6 style="margin:0px;padding:0px;">Sunday</h6>
        <p>{{ business.sundayHours }}</p>
        </div>  
    </div>
    
<!-- <br class="clear" />
<h1 class="page-header">What tivly users are saying about {{ business.businessName }}:</h1>
<br class="clear" /> -->

</div>
<br class="clear" />
{%endblock%}
