{%block title%}My Favorites - Tivly{% endblock%}

{%block content%}
<!-- START MAIN CONTAINER -->
<div class="container">
<h1 class="page-header eat clear">Baume</h1>

    <div class="grid onehalf" style="margin-top:20px;">
                <img src="{{ business.pictureLocation }}" style="border:1px solid black;box-shadow: 4px 3px 4px #666666;">
                <p>{{ business.description }}</p>
    </div>

    <div class="grid onehalf last" style="margin-top:20px;">
            <div id="tabs">
                <ul>
                        <li><a href="#tabs-1" style="font-size: 20px">Get Social</a></li>
                        <li><a href="#tabs-2" style="font-size: 20px">My {{ business.businessName }}</a></li>
                </ul>
                <div id="tabs-1">
                    <div class="getsocial">
                        <h1>Share {{ business.businessName }} with your friends!</h1>
                        <h2 style="font-size:24px">They get a <span style="color:#ff9966">{{ rewards0.description }}</span>, and you do too - everyone's a winner</h2>
                        <span class='st_facebook_vcount' displayText='Facebook'></span>
                        <span class='st_twitter_vcount' displayText='Tweet'></span>
                        <span class='st_linkedin_vcount' displayText='LinkedIn'></span>
                        <span class='st_email_vcount' displayText='Email'></span>
                        <span class='st_sharethis_vcount' displayText='ShareThis'></span>
                    </div>
                </div>
                <div id="tabs-2">
                        <table>
                            <tr>
                                <td style="padding-right:100px">Recommended to Friends</td>
                                <td>{{ recommended }}</td>
                            </tr>
                            <tr>
                                <td style="padding-right:100px">Redeemed by Friends</td>
                                <td>{{ redeemed }}</td>
                            </tr>
                            <tr>
                                <td style="padding-right:100px">My Used Rewards</td>
                                <td>{{ used }}</td>
                            </tr>
                            <tr>
                                <td style="padding-right:100px; color:#09c">Remaining Rewards</td>
                                <td style="color:#09c">{{ left }}</td>
                            </tr>
                        </table>
                </div>
                </div>
    </div>
<br class="clear" />

    <div class="grid onehalf" style="margin-top:20px;">
        

    </div>
    <div class="grid onehalf last" style="margin-top:20px;border:2px solid black;padding:5px;">
    <h5>Hours of Operation</h5>
        <div class="grid onethirdone" style="width:120px;margin:0px;">
        <h6 style="margin:0px;padding:0px;">Monday</h6>
        <p>{{ business.mondayHours }}</p>
        <h6 style="margin:0px;padding:0px;">Tuesday</h6>
        <p>{{ business.tuesdayHours }}</p>
        <h6 style="margin:0px;padding:0px;">Wednesday</h6>
        <p>{{ business.wednesdayHours }}</p>
        </div>
        <div class="grid onethirdone" style="width:120px;margin:0px;">
        <h6 style="margin:0px;padding:0px;">Thursday</h6>
        <p>{{ business.thursdayHours }}</p>
        <h6 style="margin:0px;padding:0px;">Friday</h6>
        <p>{{ business.fridayHours }}</p>
        </div>
        <div class="grid onethirdone last" style="width:120px;margin:0px;hover:none;">
        <h6 style="margin:0px;padding:0px;">Saturday</h6>
        <p>{{ business.saturdayHours }}</p>
        <h6 style="margin:0px;padding:0px;">Sunday</h6>
        <p>{{ business.sundayHours }}</p>
        </div>  
    </div>
<br class="clear" />
<h1 class="page-header">What tivly users are saying about {{ business.businessName }}:</h1>
<br class="clear" />

</div>

    
<br class="clear" />
    
</div>
<!-- END MAIN CONTAINER -->
{%endblock%}
