{%extends 'splash_base.html'%}


{%block content%}
<!-- START MAIN CONTAINER -->
<div class="container">
{% if popup %}
<script>confirm("Thanks for contacting us! We will reply within 24 hours");</script>
{% endif %}
    <h1 class="page-header contact">Contact Page</h1>
    
    <div class="grid onehalf">
    
    {% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    	<h4>Send A Message</h4>
        
    	<p>We'll get back to you within 24 hours</p>
    	
        <!-- start contact form -->
        <form id="contactform" method="post" action="">
        {%csrf_token%}
            <p>
                <input type="text" tabindex="1" size="22" value="" id="name" name="name" />
                <label for="name">Name *</label>
            </p>
            <p>
                <input type="text" tabindex="2" size="22" value="" id="email" name="email" />
                <label for="email">Email <span>(No Spam We Promise)</span> *</label>
            </p>
            <p>
                <textarea tabindex="4" rows="10" cols="58" id="message" name="message"></textarea>
            </p>
            <p>
                <input type="submit" value="Send Message" tabindex="5" id="submit" name="submit" />
            </p>
        </form><!-- end contact form -->
    
    </div>  
    <br class="clear" />
    
</div><!-- END MAIN CONTAINER -->
{%endblock%}
