{% extends 'base.html'%}

{%block title%}Directory{%endblock%}

{%block css%}
    <!-- Include CSS -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/jquery.fancybox.css" rel="stylesheet" type="text/css" media="screen" />
{%endblock%}

{%block js%}
    <!-- Include Scripts -->	
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="js/superfish.js"></script>
    <script type="text/javascript" src="js/jquery.color.js"></script>
    <script type="text/javascript" src="js/slides.min.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>	
    <script type="text/javascript" src="js/custom.js"></script>	
    
    <!-- Add Fancybox Open UI -->
<script>
$(document).ready(function() {
$(".cclogin").fancybox({ 
    'padding':          0,
    'width':        800,
    'height':       350,
    'padding':      0, 
    'margin':      0, 
    'speedIn':      300,
    'speedOut':     300,
    'transitionIn': 'elastic',
    'transitionOut': 'elastic',
    'easingIn':     'swing',
    'easingOut':    'swing',
    'titleShow' : false,
    		helpers : {
			overlay : {
			    opacity: .8,
			    css : {
				'background-color' : '#666',
				'box-shadow' : '0px 0px 20px white',}
			}}
}); 
    //$(".cclogin").trigger('click');
});</script>
{%endblock%}

{%block extraHead%}
<style>
.grid.onethird:hover{
		background-color:white;
		box-shadow: none;
                position:relative;
		bottom:1px;
        }
.grid.onethird{
                width:252px;
                padding:0px;
                margin:0px;
                height:auto;
                margin-right:10px

}
.grid.onethird img{
                box-shadow: none;
                border:1px solid #777
}
.grid.onethird a:hover{
                color: #e2e2e2;
}
</style>
{%endblock%}

{%block MixPanel%}
<script type="text/javascript">
    mixpanel.track("My Favorites Viewed")
</script>
{%endblock%}


{%block content%}
<!-- START MAIN CONTAINER -->
<div class="container">
        
<br class="clear">

<h4>Location</h4>
<br class="clear">
<h4>Sort</h4>
    <br class="clear" >
    <table>
        <tr>
            <td>
    <div class="grid onethird" style="border:1px solid #d2d2d2">
	<a href="baumehome.html"><img src="{{STATIC_URL}}images/stores/baume.jpg"/></a>
        <h4 style="margin:10px 0px 0px 20px; font-weight: bold">$10 Off</h4>
        <h6 style="margin:0px 0px 10px 20px">Palo Alto, CA</h6>
	<a href="baumeshare.html" style="display:block;margin-left:20px;width:212px;background-color:#3c6;border:1px solid green;text-align:center;text-decoration: none;font-size:22px;border-radius: 4px;margin-bottom:10px">Get Reward</a>
    </div>
            </td>
            <td>
    <div class="grid onethird" style="border:1px solid #d2d2d2">
	<a href="baume.html"><img src="{{STATIC_URL}}images/stores/pampas.png"/></a>
        <h6>Palo Alto, CA</h6>
	<a href="baumerecommend.html">Recommend</a>
    </div>
            </td>
            <td>
    <div class="grid onethird last" style="border:1px solid #d2d2d2">
	<a href="baume.html"><img src="{{STATIC_URL}}images/stores/jingjing.png"/></a>
	<h6>Palo Alto, CA</h6>
	<a href="baumerecommend.html">Recommend</a>
    </div>
            </td>
</tr>
<tr>
    <td>
    <div class="grid onethird" style="border:1px solid #d2d2d2">
	<a href="baume.html"><img src="{{STATIC_URL}}images/stores/evvia.png"/></a>
	<h6>Palo Alto, CA</h6>
	<a href="baumerecommend.html">Recommend</a>
    </div>
    </td>
    <td>
    <div class="grid onethird" style="border:1px solid #d2d2d2">
	<a href="baume.html"><img src="{{STATIC_URL}}images/stores/osteria.png"/></a>
	<h6>Palo Alto, CA</h6>
	<a href="baumerecommend.html">Recommend</a>
    </div>
    </td>
    <td>
    <div class="grid onethird last" style="border:1px solid #d2d2d2">
	<a href="baume.html"><img src="{{STATIC_URL}}images/stores/tamarine.png"/></a>
	<h6>Palo Alto, CA</h6>
	<a href="baumerecommend.html">Recommend</a>
    </div>
    </td>
</tr>
</table>
    <br class="clear" />
{%endblock%}
