{% extends 'base.html'%}

{%block title%}Directory{%endblock%}

{%block css%}
    <!-- Include CSS -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/jquery.fancybox.css" rel="stylesheet" type="text/css" media="screen" />
{%endblock%}

{%block js%}
    <!-- Include Scripts -->	
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="js/superfish.js"></script>
    <script type="text/javascript" src="js/jquery.color.js"></script>
    <script type="text/javascript" src="js/slides.min.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox.pack.js"></script>	
    <script type="text/javascript" src="js/custom.js"></script>	
    
    <!-- Add Fancybox Open UI -->
<script>
$(document).ready(function() {
$(".cclogin").fancybox({ 
    'padding':          0,
    'width':        800,
    'height':       350,
    'padding':      0, 
    'margin':      0, 
    'speedIn':      300,
    'speedOut':     300,
    'transitionIn': 'elastic',
    'transitionOut': 'elastic',
    'easingIn':     'swing',
    'easingOut':    'swing',
    'titleShow' : false,
    		helpers : {
			overlay : {
			    opacity: .8,
			    css : {
				'background-color' : '#666',
				'box-shadow' : '0px 0px 20px white',}
			}}
}); 
    //$(".cclogin").trigger('click');
});</script>
{%endblock%}

{%block extraHead%}
<style>
.grid.onethird{
                width:252px;
                padding:0px;
                margin:0px;
                height:auto;
                margin-right:10px

}
.grid.onethird img{
                box-shadow: none;
                border:1px solid #aaa;
}
.grid.onethird a{
		text-decoration: none;
		font-size:24px;
}
.grid.onethird:hover{
    background:white;
    position:relative;
    box-shadow: none;
    bottom:0px;
}
.getofferb {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809) );
	background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
	background-color:#89c403;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:24px;
	font-weight:bold;
	padding:8px 24px;
	text-decoration:none;
	text-shadow:1px -1px 0px #528009;
	text-decoration: none;
	margin: 0px 0px 10px 50px;
}.getofferb:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403) );
	background:-moz-linear-gradient( center top, #77a809 5%, #89c403 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
	background-color:#77a809;
	color:white;
}.getofferb:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
</style>
{%endblock%}

{%block MixPanel%}
<script type="text/javascript">
    mixpanel.track("My Favorites Viewed")
</script>
{%endblock%}


{%block content%}
<!-- START MAIN CONTAINER -->
<div class="container">
        
<br class="clear">

    <table style="margin-left:auto;margin-right:auto;">
		<tr style="border:none">
			{%for business,reward in businessList.items %}
			<td style="border:none">
				<div class="grid onethird" style="border:1px solid #d2d2d2;margin-right:50px;">
					<a href="{{ URL }}/business/{{ business.website }}"><img
						src="{{ business.pictureLocation }}"/></a> 
						 <h4 style="margin:10px 0px 0px 20px; font-weight: bold">{{ reward.description }}</h4>
        <h6 style="margin:0px 0px 10px 20px">{{ business.city }}</h6>
	<a href="{{ URL }}/offer/{{ csID }}/{{ reward.rID }}/" class="getofferb">Get Offer</a>
				</div>
			</td> {%if not forloop.last and forloop.count|divisibleby:"3"%}
		</tr>
		<tr>
		{% endif %} 
		{% endfor %}
		</tr>
	</table>
    <br style="clear:both; line-height:30px">
{%endblock%}
    <br style="clear:both; line-height:30px">
