{% extends "base.html" %} {% block title %}My Discoveries{%endblock%} {%block content %}
<div id="venuetable" style="background: white">
	{% if hasCard %}
	<table>
		{%for reward,business in redeemable.items %}
		<tr>
			<td><h2>
					{{business.businessName}}- <span>{{reward.description}}</span>
				</h2>
				<h3>{{business.city}}</h3> <a
				href="http://127.0.0.1:8000/venues/{{business.website}}"><img
					src='{{business.pictureLocation}}' style="border: 2px solid black"></a>
				<div id="nav2">
		<ul>
		<li>
		<a class="fancybox fancybox.iframe" href="http://127.0.0.1:8000/maps/{{ business.businessID }}">Map</a></li>
		</ul>
		</div>
		</a></td> {% endfor %}
	</table>
</div>
</div>
{%else%} {%if request.method == 'GET'%} No Credit Card Found! Submit a
credit card and start saving today! 
{%endif%} {% if errors and request.method == 'POST' %}
<ul>
	{% for error in errors %}
	<li>{{ error }}</li> {% endfor %}
</ul>
{% endif %} {% if not errors and request.method == 'POST'%} Thank you!
You can now redeem your offer {% endif %}
<form action="." method="POST" id="CCregistration_form">
	{%csrf_token%} <input class="card-number" type="string" name="number"
		value=""> </input> <select class="expiration-month" name="month">
		<option value="12">12</option>
		<option value="11">11</option>
		<option value="10">10</option>
		<option value="09">09</option>
		<option value="08">08</option>
		<option value="07">07</option>
		<option value="06">06</option>
		<option value="05">05</option>
		<option value="04">04</option>
		<option value="03">03</option>
		<option value="02">02</option>
		<option value="01">01</option>
	</select> <select class="expiration-year" name="year">
		<option value="2013">2013</option>
		<option value="2014">2014</option>
		<option value="2015">2015</option>
		<option value="2016">2016</option>
		<option value="2017">2017</option>
		<option value="2018">2018</option>
	</select> <input type="submit" class="submit-button" value="submit"> </input>
</form>
<script src="https://js.cardspring.com/v1/cs.js"></script>
<script>
	$(document).ready(function() {
		$('#registration_form').submit(function(event) {
			$('.submit-button').attr('disabled', 'disabled');
			CardSpring.addCard(cardSpringResponseHandler, {
				publisher_id : publisher_id,
				security_token : security_token,
				timestamp : timestamp,
				hmac : hmac
			}, {
				card_number : $('.card-number').val(),
				exp_month : $('.expiration-month').val(),
				exp_year : $('.expiration-year').val(),
				user_id : user_id
			}, "all");
			return false;
		});
	});

</script>
{%endif%}
</div>
{% endblock %}
