<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml"
xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
<!-- Facebook Sharer tags -->
<meta property="og:title" content="{{description }} at {{business.businessName}}"/> 
<meta property="og:type" content="website"/> 
<meta property="og:image" content="https://tivly.com{{ business.pictureLocation}}" />
<meta property="og:url" content="https://www.tivly.com/offer/{{ csID }}/{{ rID }}/" />
<meta property="og:site_name" content="Tivly" />
<meta name="og:description" content="This gift to {{business.businessName}} is loaded directly to your payment card! Signup, connect a card, and just swipe to redeem your {{description}}!" />
<meta property="fb:app_id" content="{{FACEBOOK_APP_ID}}"/>



    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {%if pictureAvailable %}
        <title>{{businessName}} Reward</title>
    {%else%}
    <title>Tivly - Example Offer</title>
    {%endif%}
    <link href="{{URL}}{{ STATIC_URL }}images/favicon.ico" rel="shortcut icon">

    
    <!-- Include CSS -->
    <link href="{{URL}}{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
    <link href="{{URL}}{{ STATIC_URL }}css/jquery.fancybox.css" rel="stylesheet" type="text/css" media="screen" />

    <!-- Include Scripts -->	
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{URL}}{{ STATIC_URL }}js/superfish.js"></script>
    <script type="text/javascript" src="{{URL}}{{ STATIC_URL }}js/jquery.color.js"></script>
    <script type="text/javascript" src="{{URL}}{{ STATIC_URL }}js/slides.min.js"></script>
    <script type="text/javascript" src="{{URL}}{{ STATIC_URL }}js/jquery.fancybox.pack.js"></script>	
    <script type="text/javascript" src="{{URL}}{{ STATIC_URL }}js/custom.js"></script>
	<!-- Add jQuery UI -->
<link type="text/css" href="{{STATIC_URL}}jqueryui/css/excite-bike/jquery-ui-1.8.21.custom.css" rel="stylesheet" />
<script type="text/javascript" src="{{STATIC_URL}}jqueryui/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}jqueryui/js/jquery-ui-1.8.21.custom.min.js"></script>
<style type="text/css">
	td{
		padding:0px;
                border:1px solid #666;
                background:white;
	}
.submitb {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:6px 14px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.submitb:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.submitb:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */
</style>

<!-- Accordion UI -->
<script>
	$(function() {
		$( "#accordion" ).accordion({
			fillSpace: true
		});
	});

	</script>
<!-- Google Analytics -->
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32882337-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
<!-- start Mixpanel -->
    <script type="text/javascript">(function(c,a){var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?g=
    a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1;window.mixpanel=a})(document,window.mixpanel||[]);
    mixpanel.init("7ae3c4e4fd6abd8b7a861ee096120052");</script>
<!-- end Mixpanel -->


</head>

<body>
<script>
    mixpanel.track("Signin Viewed")
</script>
<div style="background:#555;color:white; padding:20px 220px;">
    <div style="float:right;margin-right:10px"><a href="{{ URL }}/splash/merchantsignup" class="submitb" style="font-size:30px;">Contact Us</a></div>
    <p style="margin:0px;color:white;font-size:24px;width:640px;line-height:26px;">Have your Tivly campaign up and running within 1 week. <br>No fees, hardware or software installation.</p>
</div>
<div style="background-image: url('{{URL}}{{ STATIC_URL }}images/signinbg.png');width:100%;height:500px;">
<div class="container" style="position:relative;box-shadow: 0px 0px 20px white;height:316px;width:850px;background:#222;top:80px;display:block; margin-left:auto;margin-right:auto;color:#f2f2f2;text-shadow: 0px 2px 3px #444"">
        <div class="grid onehalf" style="width:510px; display:inline-block;float:left;margin:20px 0px 0px 0px">
            <iframe src="http://player.vimeo.com/video/48844972?byline=0&amp;portrait=0&amp;autoplay=1" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
        <div class="grid onehalf last" style="width:320px;padding:0px 5px;display:inline-block;float:left;margin:20px 0px 0px 0px;">
            <h3 style="font-size: 36px;text-align: center; padding: 0px 0px 10px 0px;border-bottom:2px dotted #333">You have $10 Off at Demo Restaurant</h3>
                        <!-- start contact form -->
                <h3 style="font-size: 30px;text-align: center; padding:0px 0px 5px 0px;margin:0px;">Load this reward to your payment card</h3>
                <div style="display:block;margin-left:auto;margin-right: auto;">
                <form id="contactform" method="POST" action="" style="display:inline-block;margin:15px 0px 0px 25px;">
                    <h3 style="font-size: 18px;">
                        Card Number <input class="card-number" style="border:2px solid gray" type="text" tabindex="1" size="16" value="" id="cnumber" name="name""/>
                    </h3>
                <h3 style="font-size:18px;">Expiration Date: <select class="expiration-month" name="month" id="month">
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
        
                </select> <select class="expiration-year" name="year" id="year">
                        <option value="2013">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                </select></h3>
                <a href="{{ URL }}/splash/merchantsignup" class="submitb">Submit</a>
                </form><!-- end form -->
                </div>
        </div>
</div>
</div>
<div style="background:#555;color:white; padding:20px 220px;">
    <p style="display:block;margin:0px;margin-left:auto;margin-right:auto;color:white;font-size:30px;text-align:center;line-height:26px;">
        Track the ROI of all your online media campaigns</p>
</div>
<div style="height:500px;margin-top:20px">
    <div style="width:90%; display:block;margin-left:auto;margin-right:auto;">
                <div id="accordion" style="font-size:18px">
                    <h3><a href="#"></a></h3>
                    <table>
    
                    </table>
                        <h3><a href="#">Twitter</a></h3>
                    <table>
                        <tr>
                            <td style="width:90%; font-size:24px; padding:8px;">Unique Link</td>
                            <td style="width:90%; font-size:24px;padding: 8px;text-align: right;">https://www.tivly.com/offer/2YIKAB/</td>
                        </tr>
                        <tr>
                            <td style="width:90%; font-size:24px; padding:8px;">Total Referrals</td>
                            <td style="width:90%; font-size:24px;padding: 8px;text-align: right;">32</td>
                        </tr>
                        <tr>
                            <td style="width:90%; font-size:24px; padding:8px;">Revenue</td>
                            <td style="width:90%; font-size:24px;padding: 8px;text-align: right;">$2400</td>
                        </tr>
                        <tr>
                            <td style="width:90%; font-size:24px;padding: 8px;">Cost</td>
                            <td style="width:90%; font-size:24px;padding: 8px;text-align: right;">$450</td>
                        </tr>
                        <tr>
                            <td style="width:90%; font-size:24px;padding: 8px;background:#a0d5b5;">Margin</td>
                            <td style="width:90%; font-size:24px;padding: 8px;text-align: right;background:#a0d5b5;text-align: right;">$1950</td>
                        </tr>
                    </table>
                        <h3><a href="#">Facebook</a></h3>
                    <table>
                        <tr>
                            <td style="width:90%; font-size:24px; padding:8px;">Unique Link</td>
                            <td style="width:90%; font-size:24px;padding: 8px;text-align: right;">https://www.tivly.com/offer/5PQ41B/</td>
                        </tr>
                        <tr>
                            <td style="width:90%; font-size:24px; padding:8px;">Total Referrals</td>
                            <td style="width:90%; font-size:24px;padding: 8px;text-align: right;">28</td>
                        </tr>
                        <tr>
                            <td style="width:90%; font-size:24px; padding:8px;">Revenue</td>
                            <td style="width:90%; font-size:24px;padding: 8px;text-align: right;">$1600</td>
                        </tr>
                        <tr>
                            <td style="width:90%; font-size:24px;padding: 8px;">Cost</td>
                            <td style="width:90%; font-size:24px;padding: 8px;text-align: right;">$450</td>
                        </tr>
                        <tr>
                            <td style="width:90%; font-size:24px;padding: 8px;background:#a0d5b5;">Margin</td>
                            <td style="width:90%; font-size:24px;padding: 8px;text-align: right;background:#a0d5b5;text-align: right;">$1150</td>
                        </tr>
                    </table>
                        <h3><a href="#">Customer Referral</a></h3>
                    <table>
                        <tr>
                            <td style="width:90%; font-size:24px; padding:8px;">Total Referrals</td>
                            <td style="width:90%; font-size:24px;padding: 8px;text-align: right;">60</td>
                        </tr>
                        <tr>
                            <td style="width:90%; font-size:24px; padding:8px;">Revenue</td>
                            <td style="width:90%; font-size:24px;padding: 8px;text-align: right;">$4000</td>
                        </tr>
                        <tr>
                            <td style="width:90%; font-size:24px;padding: 8px;">Cost</td>
                            <td style="width:90%; font-size:24px;padding: 8px;text-align: right;">$300</td>
                        </tr>
                        <tr>
                            <td style="width:90%; font-size:24px;padding: 8px;background:#a0d5b5;">Margin</td>
                            <td style="width:90%; font-size:24px;padding: 8px;text-align: right;background:#a0d5b5;">$3600</td>
                        </tr>
                    </table>
                        <h3><a href="#">+ Add New Source</a></h3>
                    <table>
                        <tr>
                            <td style="width:90%; font-size:24px; padding:8px;">Unique Link</td>
                            <td style="width:90%; font-size:24px;padding: 8px;text-align: right;">https://www.tivly.com/offer/9LR39C/</td>
                        </tr>
                        <tr>
                            <td style="width:90%; font-size:24px; padding:8px;">Total Referrals</td>
                            <td style="width:90%; font-size:24px;padding: 8px;text-align: right;">0</td>
                        </tr>
                        <tr>
                            <td style="width:90%; font-size:24px; padding:8px;">Revenue</td>
                            <td style="width:90%; font-size:24px;padding: 8px;text-align: right;">$0</td>
                        </tr>
                        <tr>
                            <td style="width:90%; font-size:24px;padding: 8px;">Cost</td>
                            <td style="width:90%; font-size:24px;padding: 8px;text-align: right;">$0</td>
                        </tr>
                        <tr>
                            <td style="width:90%; font-size:24px;padding: 8px;background:#a0d5b5;">Margin</td>
                            <td style="width:90%; font-size:24px;padding: 8px;text-align: right;background:#a0d5b5;text-align: right;">$0</td>
                        </tr>
                    </table>
                </div>
        </div>
</div>
<div style="background:#555;color:white; padding:20px 220px;">
    <div style="float:right;margin-right:10px"><a href="{{ URL }}/splash/merchantsignup" class="submitb" style="font-size:30px;">Contact Us</a></div>
    <p style="margin:0px;color:white;font-size:24px;width:640px;line-height:26px;">Have your Tivly campaign up and running within 1 week. <br>No fees, hardware or software installation.</p>
</div>
<!-- END MAIN CONTAINER -->





</body>
</html>
