{%extends 'rec_base.html'%}
{%block title%}FAQ - Tivly{%endblock%}

{%block content%}
<!-- START MAIN CONTAINER -->
<br/>
<br/>
<br/>
<div class="container" style="width:75%">

    <h2>Why should I enter my payment card information?</h2>
    <h5>Entering your payment card information allows us to give you free stuff. The recommendations that friends send you are accompanied by discounts, which can only be redeemed through your credit card. Your information is kept completely secure on a server that runs bank-level security (read below for more info on security).</h5>
    <h2>What kinds of rewards can I get through tivly?</h2>
    <h5>All kinds! The loyalty rewards are completely customized by the restaurants, so tell your favorite places what rewards you want to see!</h5>
    <h2>How do you keep my information secure?</h2>
    <h5>We take every step to protect your information. We don't store your credit card information on our servers, we use a service called <a href="https://cardspring.com/legal/privacy">CardSpring</a> that protects your information with PCI compliant bank-level security.</h5>


<br class="clear" />
        
</div><!-- END MAIN CONTAINER -->
{%endblock%}