<!DOCTYPE html>
<html>
<head>
    <title>How-To - Tivly</title>
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="{{ STATIC_URL }}content-type" content="text/html;charset=utf-8" />
    
    <!-- Include CSS -->
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/jquery.fancybox.css" rel="stylesheet" type="text/css" media="screen" />

    <!-- Include Scripts -->	
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/superfish.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.color.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/slides.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fancybox.pack.js"></script>	
    <script type="text/javascript" src="{{ STATIC_URL }}js/custom.js"></script>	

    
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32882337-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>





<body style="background-color:black">
<!-- START MAIN CONTAINER -->
<div class="container" style="width:100%" >
    <div style="padding-bottom:15px;">
    <h2 style="color:white;text-align: center;font-family: georgia; font-size:40px;padding-top:10px;">Get Points When Your Recommendations are Taken</h2>
    </div>
<div class="grid onehalf" style="width:45%;">
    <h2 style="text-align: center; font-size: 24px;">Click to See Your Progress</h2>
    </div>
    <div class="grid onehalf" style="width:45%">
    <h2 style="text-align: center;font-size: 24px;">Get Closer to Rewards Each Time a Friend Goes</h2>
    </div>
    
    <br class="clear" />

    <div class="grid onehalf" style="width:45%;">
    <img src="{{STATIC_URL}}images/howto/mydemo.jpg" style="display:block;margin-left:auto;margin-right:auto"/>
    </div>
    <div class="grid onehalf" style="width:45%">
    <img src="{{STATIC_URL}}images/howto/progress.jpg" style="display:block;margin-left:auto;margin-right:auto"/>
    </div>
    
    <br class="clear" />
    <div style="text-align: right;padding-top:6px;padding-right:20px;">
    <a href="{{ URL }}/howto/3" style="color:white;font-family: georgia; font-size:40px;text-decoration: none;">Next <span style="color:#00cc66">></span></a>
    </div>
    <br class="clear" />

</div><!-- END MAIN CONTAINER -->







</body></html>
