<!DOCTYPE html>
<html>
<head>
    <title>How-To - Tivly</title>
    <link href="{{STATIC_URL}}css/style.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    
    <!-- Include CSS -->
    <link href="{{STATIC_URL}}css/style.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}css/jquery.fancybox.css" rel="stylesheet" type="text/css" media="screen" />

    <!-- Include Scripts -->	
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/superfish.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.color.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/slides.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.fancybox.pack.js"></script>	
    <script type="text/javascript" src="{{STATIC_URL}}js/custom.js"></script>	

    
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32882337-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>





<body style="background-color:black">
<!-- START MAIN CONTAINER -->
<div class="container" style="width:100%" >
    <div style="padding-bottom:15px;">
    <h2 style="color:white;text-align: center;font-family: georgia; font-size:40px;padding-top:10px;">Load this reward onto your credit card</h2>
    </div>
    <img src="{{STATIC_URL}}images/howto/usersplashs.jpg" style="display:inline-block;float:left;margin-left:10px;"/>
    <a href="{{ URL }}/howto/2" style="text-align:center"><img src="{{STATIC_URL}}images/howto/loadreward.png" style="display:inline-block;float:left;margin-left:20px; margin-top:80px;" /></a>

<br class="clear" />


</div><!-- END MAIN CONTAINER -->







</body></html>
