
{%block js%}
<script type="text/javascript" src="https://js.cardspring.com/v1/cs.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

{%endblock%}
<html>
<head>
    <title>How-To - Tivly</title>
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    
    <!-- Include CSS -->
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/jquery.fancybox.css" rel="stylesheet" type="text/css" media="screen" />

    <!-- Include Scripts -->	
<!--     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
 -->    <script type="text/javascript" src="{{ STATIC_URL }}js/superfish.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.color.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/slides.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.fancybox.pack.js"></script>	
    <script type="text/javascript" src="{{ STATIC_URL }}js/custom.js"></script>	

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32882337-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>





<body style="background-image: url('{{ STATIC_URL }}images/bg/hex.png');background-repeat: repeat; color:#111;text-shadow: 0px 2px 3px #444">
<!-- START MAIN CONTAINER -->
<div class="container" style="width:100%" >
    	<h3 style="font-size: 36px;text-align: center; padding: 10px 0px 10px 0px;border-bottom:2px dotted #333">You have a reward of {{introReward.description }} at {{ business.businessName }}</h3>
                <!-- start contact form -->
	<h3 style="font-size: 30px;text-align: center; padding:0px 0px 0px 0px;margin:0px;">Load this reward to your payment card</h3>
<div>
        <div style="display:block;margin-left:auto;margin-right: auto;">
        <form id="contactform" method="POST" action="" style="display:inline-block;margin:5px 300px 0px 0px;">
                {%csrf_token%}
            <h3 style="font-size: 18px;">
                Card Number <input class="card-number" style="border:2px solid gray" type="text" tabindex="1" size="16" value="" id="cnumber" name="name" onkeyup="SetTypeText(this.value)"/>
                <b id="cctype"></b> 
            </h3>
        <h3 style="font-size:18px;">Expiration Date: <select class="expiration-month" name="month" id="month">
		<option value="01">01</option>
		<option value="02">02</option>
		<option value="03">03</option>
		<option value="04">04</option>
		<option value="05">05</option>
		<option value="06">06</option>
		<option value="07">07</option>
		<option value="08">08</option>
		<option value="09">09</option>
		<option value="10">10</option>
		<option value="11">11</option>
		<option value="12">12</option>

	</select> <select class="expiration-year" name="year" id="year">
		<option value="2013">2012</option>
		<option value="2013">2013</option>
		<option value="2014">2014</option>
		<option value="2015">2015</option>
		<option value="2016">2016</option>
		<option value="2017">2017</option>
		<option value="2018">2018</option>
	</select></h3>
                <input type="submit" class="submit-button" value="submit" tabindex="5"/>
        </form>
	</div>
</div>
	<br />
<h3 style="font-size: 36px;text-align: center;border-top:2px dotted #444;padding:10px 0px 0px 0px">Go to {{ business.businessName }}, swipe your registered card, and get {{introReward.description }}. <span style="color:#3c6">Instantly.</span></h3>
        </td><!-- end form -->
        </table>





    
    
</div><!-- END MAIN CONTAINER -->
<script type="text/javascript">

function SetTypeText(number)
    {
        var typeField = document.getElementById("cctype");
        typeField.innerHTML = GetCardType(number);
    }

function GetCardType(number)
    {            
        var re = new RegExp("^4");
        if (number.match(re) != null)
            return "Visa";

        re = new RegExp("^(34|37)");
        if (number.match(re) != null)
            return "American Express";

        re = new RegExp("^5[1-5]");
        if (number.match(re) != null)
            return "MasterCard";

        re = new RegExp("^6011");
        if (number.match(re) != null)
            return "Discover";

        return "";
    }
</script>
<script type="text/javascript">
	$(document).ready(function(){
	 
	 $('#contactform').submit(function(event) {
	    var error = false;
	    var csalreg = false;
	    var cnumber = $('#cnumber').val();
	    var month = $('#month').val();
	    var year = $('#year').val();
		$('.submit-button').attr('disabled', 'disabled');
		cardSpringResponseHandler = function(response){
		    if((typeof response.error) != "undefined")
		    {
			    var errorstr = response.error;
			    var reasonstr = response.reason;
			    if(errorstr !== "already_registered"){                
                    error = true
                    alert("Sorry, there was a problem. Please try again\nError: " + errorstr + " Reason: " + reasonstr);
                }else{
                csalreg = true;
                }
			    $('.submit-button').removeAttr('disabled');			
            }
		
		    if (!error){
		        var token = response.token;
	            if (csalreg){
	                var last4 =  cnumber.slice(-4);
	                var brand_string = GetCardType(cnumber);
	                var brand = brand_string;
	                var expiration = year+"-"+month+"-"+"28";
	            }else{
	                var last4 =  response.last4;
	                var brand_string = response.brand_string;
	                var brand =response.brand;
	                var expiration = response.expiration;
	            }
                $.getJSON("/me/", {token:token, 
                                last4:last4, 
                                brand: brand, 
                                brand_string: brand_string, 
                                expiration: expiration}, 
                                function(json){
                                    if(json['HTTPRESPONSE'] === "new"){
                                        alert("Thank you, your card is registered!");}
                                    else if(json['HTTPRESPONSE'] === "old"){
                                        alert("This card has already been registered! Please feel free to continue exploring the site");}                          
                                    else{
                                        alert("Sorry, there was a problem. Please try again");}
                                    $('.submit-button').removeAttr('disabled');
                });
		
		    }


		};

		CardSpring.addCard(cardSpringResponseHandler
		, {
			publisher_id : '{{ CARDSPRING_APP_ID }}',
			security_token : '{{ securityToken }}',
			timestamp : '{{ timestamp }}',
			hmac : '{{ digestedHash }}'
		}, {
			card_number : $('.card-number').val(),
			exp_month : $('.expiration-month').val(),
			exp_year : $('.expiration-year').val(),
			user_id : '{{ csid }}'
		}, "all");

		return false;
		});
});

</script>  
</body></html>
