<!DOCTYPE html>
<html>
<head>
    <title>How-To - Tivly</title>
    <link href="{{STATIC_URL}}css/style.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    
    <!-- Include CSS -->
    <link href="{{STATIC_URL}}css/style.css" rel="stylesheet" type="text/css" />
    <link href="{{STATIC_URL}}css/jquery.fancybox.css" rel="stylesheet" type="text/css" media="screen" />

    <!-- Include Scripts -->	
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/superfish.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.color.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/slides.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.fancybox.pack.js"></script>	
    <script type="text/javascript" src="{{STATIC_URL}}js/custom.js"></script>	

    
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32882337-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>





<body style="background-color:#444; color:#222;text-shadow: 0px 2px 3px #555">
<!-- START MAIN CONTAINER -->
<div class="container" style="width:100%" >
    	<h3 style="font-size: 40px;text-align: center; margin-top:20px;padding-bottom:20px;border-bottom:2px dotted #555"">You have a reward of {{introReward.description }} at {{ business.businessName }}</h3>
	<h3 style="font-size: 30px;text-align: center; padding:10px 0px 5px 0px;">Load this reward to your payment card</h3>
	<div style="display:block; margin-left:257px;margin-bottom:20px;">
        <form id="contactform" method="POST" action="">
                {%csrf_token%}
            <h3 style="font-size: 22px">
                Card Number <input class="card-number" style="border:2px solid #222; box-shadow: 0px 2px 3px #555" type="text" tabindex="1" size="20" value="" id="cnumber" name="name" />
		<!--*Type <input id="ccNumber" onChange="SetTypeText(this.value)" /> -->
            </h3>
        <h3 style="font-size:22px;">Expiration Date <select class="expiration-month" name="month" id="month">
		<option value="01">01</option>
		<option value="02">02</option>
		<option value="03">03</option>
		<option value="04">04</option>
		<option value="05">05</option>
		<option value="06">06</option>
		<option value="07">07</option>
		<option value="08">08</option>
		<option value="09">09</option>
		<option value="10">10</option>
		<option value="11">11</option>
		<option value="12">12</option>

	</select> <select class="expiration-year" name="year" id="year">
		<option value="2013">2012</option>
		<option value="2013">2013</option>
		<option value="2014">2014</option>
		<option value="2015">2015</option>
		<option value="2016">2016</option>
		<option value="2017">2017</option>
		<option value="2018">2018</option>
	</select>
                <input type="submit" class="submit-button" value="submit" tabindex="5"/>
            </h3>
        </form></div><!-- end contact form --> 
<h3 style="font-size: 36px;text-align: center;border-top:2px dotted #555;padding-top:15px;margin-bottom:15px;">Go to {{ business.businessName }}, swipe your registered card, and get {{introReward.description }}. <span style="color:#3c6">Instantly.</span></h3>




</div><!-- END MAIN CONTAINER -->







</body></html>
