{% extends "base.html" %} {% block title %} My Venues {% endblock %} {%block content %}
<div id="venuetable" style="background: white">
	<table>
		<tr>
			{% for business in businessList %}
			<td><h2>{{ business.businessName }}</h2>
				<h3>{{ business.street }}, {{ business.city }}</h3>
				<a href="venues/{{business.website}}"><img
					src='{{ business.pictureLocation}}' style="border: 2px solid black"></a>
				<div id="nav2">
					<ul>
						<li><a href="rec/{{ business.website }}/"
							class="fancybox fancybox.iframe">Recommend</a></li>
						<!-- <li><a href="#/review.html">Review</a></li> -->
					</ul>
				</div>
				</a></td> 
				{% if not forloop.last and forloop.count == 3 or forloop.count == 6 %}
		</tr>
		<tr>{% endif %} 
		{% endfor %}
		</tr>
	</table>
</div>
{% endblock %}
