{%extends 'base.html'%}


{%block content%}
<!-- START MAIN CONTAINER -->
<div class="container">
{% if popup %}
<script>confirm("Thanks for signing up! We will reply within 24 hours");</script>
{% endif %}
    <h1 class="page-header contact">Merchant Authorization Page</h1>
    
    <div class="grid onehalf">
    
    {% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
<br class="clear">
    
    	<p>We'll get back to you within 24 hours</p>
    	
        <!-- start merchant info form -->
        <form id="merchantInfoform" method="post" action="">
        {%csrf_token%}
        <table>
            <tr>
            	<td><label for="name">MerchantID *</label></td>
                <td><input type="text" tabindex="1" size="22" value="" id="merchantID" name="merchantID" /></td>
            </tr>
			<tr>
                <td><label for="name">Business Name *</label></td>
                <td><input type="text" tabindex="1" size="22" value="" id="businessName" name="businessName" /></td>
            </tr>
            <tr>
                <td><label for="name">Amex SES </label></td>
                <td><input type="text" tabindex="1" size="22" value="" id="amexSES" name="amexSES" /></td>
            </tr>
            <tr>
                <td><label for="name">Address *</label></td>
                <td><input type="text" tabindex="1" size="22" value="" id="address" name="address" /></td>
            </tr>
            <tr>
                <td><label for="name">Zip Code *</label></td>
                <td><input type="text" tabindex="1" size="22" value="" id="zipCode" name="zipCode" /></td>
                
            </tr>
            <tr>
                <td><label for="name">City *</label></td>
                <td><input type="text" tabindex="1" size="22" value="" id="city" name="city" /></td>
            </tr>
            <tr>
                <td><label for="name">State *</label></td>
                <td><input type="text" tabindex="1" size="22" value="" id="state" name="state" /></td>
            </tr>
            <tr>
                <td><label for="name">Phone Number *</label></td>
				<td><input type="text" tabindex="1" size="22" value="" id="phoneNumber" name="phoneNumber" /></td>
            </tr>
        	<tr>
                <td><label for="name">Email *</label></td>
                <td><input type="text" tabindex="1" size="22" value="" id="email" name="email" /></td>
            </tr>
            <tr>
                <td><label for="name">Signer Name *</label></td>
                <td><input type="text" tabindex="1" size="22" value="" id="signerName" name="signerName" /></td>
            </tr>
            <tr>
                <td><label for="name">Signer Title *</label></td>
        		<td><input type="text" tabindex="1" size="22" value="" id="signerTitle" name="signerTitle" /></td>
            </table>
             <textarea readonly="readonly" rows="40" cols="85	">
            Merchant has elected to participate in a program ("Program") managed by Publisher and has entered into an agreement with Publisher for certain services pursuant to such agreement.  In accordance with such agreement, Merchant requests that First Data Merchant Services, the party identified above as "Processor," or the party identified as the processor in Merchant's processing agreement, and/or its affiliates and authorized processing vendors (collectively, hereinafter, "Processor") release such data further described below to Publisher and/or its third party vendors.
			In connection with Merchant's election to participate in a Program and in conjunction with the services provided by Processor to Merchant under their processing agreement, Merchant hereby authorizes Processor to: (a) release to the Publisher, and/or the Publisher's third party vendors, payment card transaction information (including, without limitation, encrypted or tokenized card numbers and transaction details) requested by the Publisher and/or the Publisher's third party vendors in connection with payment card transactions that are processed by Processor and qualify for Publisher's Programs; and (b) process Program transactions in accordance with Publisher's instructions, which may differ from the processing of non-Program transactions.  The data transmitted to Publisher and/or its third party vendors is to be used pursuant to the Program managed by Publisher as referenced above.
			Merchant understands and agrees that Merchant's processing agreement, including all disclaimers therein, applies to this Authorization and remains in full force and effect.  In addition, PROCESSOR WILL NOT BE LIABLE, UNDER ANY CIRCUMSTANCES, FOR (I) THE MISUSE BY CONSUMERS, MERCHANT, PUBLISHER, OR PUBLISHER'S THIRD PARTY VENDORS OF DATA PROVIDED UNDER THIS AUTHORIZATION AND USED IN CONNECTION WITH PROGRAM TRANSACTIONS; (II) ANY ERRORS BY OR ARISING FROM THE ACTS OR OMISSIONS OF CONSUMERS, MERCHANT, PUBLISHER, OR PUBLISHER'S THIRD PARTY VENDORS IN CONNECTION WITH A PROGRAM TRANSACTION (INCLUDING ANY ERRORS THAT RESULT IN CHARGEBACK AMOUNTS, FOR WHICH MERCHANT WILL REIMBURSE PROCESSOR).
			This Authorization shall remain in full force and effect until Processor is notified in writing by Merchant to stop the transmission of Merchant's data to Publisher in connection with a Program.  Processor shall honor Merchant's notice to stop such transmission of data in a commercially reasonable time frame after receipt of such notice.
            </textarea>
           <br/>
           Check to agree to terms of service <input type="checkbox" value="agree" tabindex="5" id="agree" name="agree" />
           <br/>
           <input type="submit" value="Submit" tabindex="5" id="submit" name="submit" />
        </form>
        <!-- end merchant info form -->
    </div>  
    <br class="clear" />
    
</div><!-- END MAIN CONTAINER -->
{%endblock%}
