{% extends 'base.html' %}
{%block title%} My Account - Tivly {%endblock%}

{%block js%}
<script type="text/javascript" src="https://js.cardspring.com/v1/cs.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

{%endblock%}
{% block MixPanel %}
<script type="text/javascript">
    mixpanel.track("My Account Visited")
</script>
{% endblock %}

{%block content%}
<div class="container">

    <h1 class="page-header key">My Account</h1>
    
        <table>
            <tr>
                <td style="border:none"><a href="{{ URL }}/logout">Log Out</a></td>
            </tr>
            <!-- <tr>
            	<td>Connect with Facebook</td>
                <td><a href="https://graph.facebook.com/oauth/authorize?client_id={{ FACEBOOK_APP_ID }}&redirect_uri={{redirect}}&scope=publish_stream,email,read_friendlists,&display=popup">
      				<img src="https://developers.facebook.com/images/devsite/login-button.png"/></a></td> 
           </tr> -->
                <!--  <td>Connect with Twitter</td>
                <td></td> -->
            <tr> 
                <tr>
                <td>Connect Payment Card</td>
                <td>        
                <form id="contactform" method="POST" action="">
                {%csrf_token%}
            <p style="font-size: 18px;">
                Card Number <input class="card-number" style="border:2px solid gray" type="text" tabindex="1" size="16" value="" id="cnumber" name="name" />*
                Type <input id="ccNumber" onChange="SetTypeText(this.value)" />
            </p>
        <p style="font-size:18px;">Expiration Date: <select class="expiration-month" name="month" id="month">
		<option value="01">01</option>
		<option value="02">02</option>
		<option value="03">03</option>
		<option value="04">04</option>
		<option value="05">05</option>
		<option value="06">06</option>
		<option value="07">07</option>
		<option value="08">08</option>
		<option value="09">09</option>
		<option value="10">10</option>
		<option value="11">11</option>
		<option value="12">12</option>

	</select> <select class="expiration-year" name="year" id="year">
		<option value="2013">2012</option>
		<option value="2013">2013</option>
		<option value="2014">2014</option>
		<option value="2015">2015</option>
		<option value="2016">2016</option>
		<option value="2017">2017</option>
		<option value="2018">2018</option>
	</select>*</p>
                <input type="submit" class="submit-button" value="submit" tabindex="5"/>
            </p>
        </form>
        </td><!-- end form -->
            <tr>
                <td style="border:none"><a href="{{ URL }}/making_a_mistake" class="fancybox fancybox.iframe">Delete Account</a></td>
            </tr>
        </table>




    
    <br class="clear" />
    
</div><!-- END MAIN CONTAINER -->
<script type="text/javascript">

function SetTypeText(number)
    {
        var typeField = document.getElementById("cardType");
        typeField.innerHTML = GetCardType(number);
    }

function GetCardType(number)
    {            
        alert("Number = " + number);
        var re = new RegExp("^4");
        if (number.match(re) != null)
            return "Visa";

        re = new RegExp("^(34|37)");
        if (number.match(re) != null)
            return "American Express";

        re = new RegExp("^5[1-5]");
        if (number.match(re) != null)
            return "MasterCard";

        re = new RegExp("^6011");
        if (number.match(re) != null)
            return "Discover";

        return "";
    }
</script>
<script type="text/javascript">
	$(document).ready(function(){
	 
	 $('#contactform').submit(function(event) {
	    alert("submitted cf!");
	    var error = false;
	    var csalreg = false;
	    var cnumber = $('#cnumber').val();
	    var month = $('#month').val();
	    var year = $('#year').val();
	    alert(cnumber + "   " + month + "   " + year);
		$('.submit-button').attr('disabled', 'disabled');
		cardSpringResponseHandler = function(response){
		    if((typeof response.error) != "undefined")
		    {
			    var errorstr = response.error;
			    var reasonstr = response.reason;
			    if(errorstr !== "already_registered"){                
                    error = true
                    alert("Sorry, there was a problem. Please try again\nError: " + errorstr + " Reason: " + reasonstr);
                }else{
                csalreg = true;
                }
			    $('.submit-button').removeAttr('disabled');			
            }
		
		    if (!error){
		        var token = response.token;
	            if (csalreg){
	                var last4 =  cnumber.slice(-4);
	                var brand_string = GetCardType(cnumber);
	                var brand = brand_string;
	                var expiration = month + " " +year;
	            }else{
	                var last4 =  response.last4;
	                var brand_string = response.brand_string;
	                var brand =response.brand;
	                var expiration = response.expiration;
	            }
	            alert(last4 + "   " + brand_string + "   " +brand + "   " +expiration+ "   " + token);
		        alert("submitting ajax!");
                $.getJSON("/me/", {token:token, 
                                last4:last4, 
                                brand: brand, 
                                brand_string: brand_string, 
                                expiration: expiration}, 
                                function(json){
                                    alert("submitted ajax!");
                                    if(json['HTTPRESPONSE'] === "new"){
                                        alert("Thank you, your card is registered!");}
                                    else if(json['HTTPRESPONSE'] === "old"){
                                        alert("This card has already been registered! Please feel free to continue exploring the site");}                          
                                    else{
                                        alert("Sorry, there was a problem. Please try again");}
                                    $('.submit-button').removeAttr('disabled');
                });
		
		    }


		};

		CardSpring.addCard(cardSpringResponseHandler
		, {
			publisher_id : '{{ CARDSPRING_APP_ID }}',
			security_token : '{{ securityToken }}',
			timestamp : '{{ timestamp }}',
			hmac : '{{ digestedHash }}'
		}, {
			card_number : $('.card-number').val(),
			exp_month : $('.expiration-month').val(),
			exp_year : $('.expiration-year').val(),
			user_id : '{{ csid }}'
		}, "all");

		return false;
		});
});

</script>  

{%endblock%}

