{%extends 'base.html' %} 
{%block MixPanel%}
<script type="text/javascript">
    mixpanel.track("My Favorites Viewed")
</script>
{%endblock%} 

{%block extraHead%}

<!-- Add Fancybox Open UI -->
<script>
$(document).ready(function() {
$(".cclogin").fancybox({ 
    'padding':          0,
    'width':        800,
    'height':       350,
    'padding':      0, 
    'margin':      0, 
    'speedIn':      300,
    'speedOut':     300,
    'transitionIn': 'elastic',
    'transitionOut': 'elastic',
    'easingIn':     'swing',
    'easingOut':    'swing',
    'titleShow' : false,
    		helpers : {
			overlay : {
			    opacity: .8,
			    css : {
				'background-color' : '#666',
				'box-shadow' : '0px 0px 20px white',}
			}}
}); 
    $(".cclogin").trigger('click');
});</script>

{%endlbock%}
{%block content%}
<!-- START MAIN CONTAINER -->
<div class="container">

	<h1 class="page-header" style="font-size: 26px; color: #00cc66">
		Favorite restaurant not on tivly yet? Sign them up and get $25! <a
			href="{{ URL }}/merchantsignup">Click for details</a>
	</h1>
	<h1 class="page-header heart clear">My Favorites</h1>
	{% if hasCard%}
	<div id="cclogin"><a href="{{ URL }}/creditcardsubmit" class="cclogin fancybox.iframe" style="text-decoration: underline;font-size:18px;">Enter payment card information to get the full tivly experience</a> <a href="{{ URL }}/faq2" style="text-decoration: none;border:none;font-size:18px"> (Learn More)</a>
	{%endif%}
	<table>
		<tr>
			{% for business in businessList %}
			<td>
				<div class="grid onethird">
					<h3>{{ business.businessName }}</h3>
					<h6>{{business.city}}</h6>
					<a href="{{ URL }}/business/{{ business.website }}"><img
						src="{{ business.pictureLocation }}" /></a> <a
						href="{{ URL }}/rec/{{ business.website }}/" class="fancybox fancybox.iframe">Recommend</a>
				</div>
			</td> {%if not forloop.last and forloop.count|divisibleby:"3"%}
		</tr>
		<tr>
		{% endif %} 
		{% endfor %}
		</tr>
	</table>
<!-- END MAIN CONTAINER -->
{%endblock%}
