{%extends 'base.html'%} 
{% block title %}My Discoveries{%endblock%} 

{block extraHead%}
<script type="text/javascript"
        src="https://js.cardspring.com/v1/cs.js">
</script>
{%endblock%}
{%block MixPanel%}
<script type="text/javascript">
    mixpanel.track("New Discoveries Viewed")
</script>
{%endblock%} {%block content%}

{% if not hasCard %} 
{% if errors and request.method == 'POST' %}
<ul>
	{% for error in errors %}
	<li>{{ error }}</li> {% endfor %}
</ul>
{% endif %} 
{% if not errors and request.method == 'POST'%} 
<script>
alert(Thank you!You can now redeem your offer);
</script> 
{% endif %}


 <form action="." method="POST" id="registration_form">
 {%csrf_token%}
<div style="background-color: #ffcccc;display:inline-block;padding:10px;border-radius: 6px 6px;box-shadow: 4px 4px 4px gray">
    <p style="margin:0px;padding:0px;color:red;font-size:22px; text-align: center">- Warning - You're not getting all the benefits of tivly!</p><p style="margin:0px;padding:0px;">Enter your information to share and redeem rewards instantly with the swipe of your card!</p><a href="faq.html" style="margin-left:210px;">Click to Learn More</a><br />
    <label for="form-number">Card Number: </label><input class="card-number" style="border-radius: 5px 5px;" type="string" name="number"
		value="">* </input><br />
    <label for="form-number">Expiration Date: <select class="expiration-month" name="month">
		<option value="01">01</option>
		<option value="02">02</option>
		<option value="03">03</option>
		<option value="04">04</option>
		<option value="05">05</option>
		<option value="06">06</option>
		<option value="07">07</option>
		<option value="08">08</option>
		<option value="09">09</option>
		<option value="10">10</option>
		<option value="11">11</option>
		<option value="12">12</option>

	</select> <select class="expiration-year" name="year">
		<option value="2013">2012</option>
		<option value="2013">2013</option>
		<option value="2014">2014</option>
		<option value="2015">2015</option>
		<option value="2016">2016</option>
		<option value="2017">2017</option>
		<option value="2018">2018</option>
	</select>*<br /> <input type="submit" id="submit-button" value="submit" style="    -webkit-transition: background-color .3s linear;
	-moz-transition: background-color .3s linear;
	-o-transition: background-color .3s linear;
	-ms-transition: background-color .3s linear;
	transition: background-color .3s linear;
	border:0px;
	background-color:#ACB3BA;
	padding:6px 10px;
	color:#ffffff;
        box-shadow: 3px 3px 3px gray;
	cursor:pointer;"></div>
</form>
<br/>
<br/>
<script src="https://js.cardspring.com/v1/cs.js"></script>
<script>
	$(document).ready(function() {
		$('#registration_form').submit(function(event) {
			$('.submit-button').attr('disabled', 'disabled');
			CardSpring.addCard(cardSpringResponseHandler, {
				publisher_id : publisher_id,
				security_token : security_token,
				timestamp : timestamp,
				hmac : hmac
			}, {
				card_number : $('.card-number').val(),
				exp_month : $('.expiration-month').val(),
				exp_year : $('.expiration-year').val(),
				user_id : user_id
			}, "all");
			return false;
		});
	});

</script>
{%endif%}

<!-- START MAIN CONTAINER -->
<div class="container">

	<h1 class="page-header" style="font-size: 26px; color: #00cc66">
		Favorite restaurant not on tivly yet? Sign them up and get $25! <a
			href="http://tivly.com/merchants/l">Click for details</a>
	</h1>
	<h1 class="page-header search clear">New Discoveries</h1>
	<table>
		<tr>
			{%for reward,business in redeemable.items %}
			<td>
				<div class="grid onethird">
					<h5>{{ business.businessName }} - {{reward.description }}</h5>
					<h6>{{ business.city }}</h6>
					<a href="baume.html"><img
						src="{{business.pictureLocation }}" /></a> <a
						href="baumerecommend.html">Recommend</a>
				</div>
			</td> 
			{% if not forloop.last and forloop.count|divisibleby:"3"%}
		</tr>
		<tr>
		{% endif %} 
		{% endfor %}
		</tr>
	</table>
	<br class="clear" />
	<br class="clear" />
</div>
<!-- END MAIN CONTAINER -->
{%endblock%}
