{%extends 'base.html'%} 
{% block title %}My Rewards - Tivly{%endblock%} 

{%block js%}

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL }}js/jquery.color.js"></script>
    <script type="text/javascript" src="{{STATIC_URL }}js/slides.min.js"></script>
    <script type="text/javascript" src="{{STATIC_URL }}js/jquery.fancybox.pack.js"></script>	
    <script type="text/javascript" src="{{STATIC_URL }}js/custom.js"></script>	

<!-- Add Fancybox Open UI -->
<script>
$(document).ready(function() {
$(".cclogin").fancybox({ 
    'padding':          0,
    'width':        800,
    'height':       350,
    'padding':      0, 
    'margin':      0, 
    'speedIn':      300,
    'speedOut':     300,
    'transitionIn': 'elastic',
    'transitionOut': 'elastic',
    'easingIn':     'swing',
    'easingOut':    'swing',
    'titleShow' : false,
    		helpers : {
			overlay : {
			    opacity: .8,
			    css : {
				'background-color' : '#666',
				'box-shadow' : '0px 0px 20px white',}
			}}
}); 
});</script>
{%endblock%}

{%block MixPanel%}
<script type="text/javascript">
    mixpanel.track("New Discoveries Viewed")
</script>
{%endblock%} 
{%block content%}
<div class="container">

	<!-- <h1 class="page-header" style="font-size: 26px; color: #00cc66">
		Favorite restaurant not on tivly yet? Sign them up and get $25! <a
			href="https://tivly.com/merchantsignup">Click for details</a>
	</h1> -->
	<h1 class="page-header search clear">My Rewards</h1>
	
{% if not hasCard %} 
    <div id="cclogin"><a href="{{ URL }}/howto/1" class="cclogin fancybox.iframe" style="text-decoration: underline;font-size:18px;">Find out how to get the full tivly experience!</a> 
    </div><br class="clear" /> 
{%endif%}

	<table style="border:none">
		
		<tr class="hovers">
		    {%for reward,business in redeemable.items %}
		    
		    
			<td class="hovers" style="width:60%; text-align: center;border:none;">
			    <a href="{{ URL }}/business/{{ business.website }}">
					<h2 style="color:#333333;font-size:40px;">{{reward.description }}</h2>
					<h2>{{ business.businessName }}</h2>
			    </a>
			</td>
			<td style="width:40%; border:none;">
					<a href="{{ URL }}/business/{{ business.website }}">
					    <img
						src="{{business.pictureLocation }}" style="display:block; margin-left:auto;margin-right:auto;box-shadow:4px 3px 4px #666666;" /> </a>
<!-- 						<a href="{{ URL }}/rec/{{ business.website }}/" class="fancybox fancybox.iframe">Recommend</a>
 -->			
			</td>
		</tr>
			{% if not forloop.last and forloop.count|divisibleby:"3"%}

		<tr>
		{% endif %} 
		{% endfor %}
		</tr>
	</table>
	<br class="clear" />
	<br class="clear" />
</div>
{%endblock%}
