<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Signin - Tivly</title>
    <link href="{{URL}}{{ STATIC_URL }}images/favicon.ico" rel="shortcut icon">

    
    <!-- Include CSS -->
    <link href="{{URL}}{{ STATIC_URL }}css/style.css" rel="stylesheet" type="text/css" />
    <link href="{{URL}}{{ STATIC_URL }}css/jquery.fancybox.css" rel="stylesheet" type="text/css" media="screen" />

    <!-- Include Scripts -->	
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{URL}}{{ STATIC_URL }}js/superfish.js"></script>
    <script type="text/javascript" src="{{URL}}{{ STATIC_URL }}js/jquery.color.js"></script>
    <script type="text/javascript" src="{{URL}}{{ STATIC_URL }}js/slides.min.js"></script>
    <script type="text/javascript" src="{{URL}}{{ STATIC_URL }}js/jquery.fancybox.pack.js"></script>	
    <script type="text/javascript" src="{{URL}}{{ STATIC_URL }}js/custom.js"></script>
    


<!-- Google Analytics -->
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32882337-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
<!-- start Mixpanel -->
    <script type="text/javascript">(function(c,a){var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?g=
    a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1;window.mixpanel=a})(document,window.mixpanel||[]);
    mixpanel.init("7ae3c4e4fd6abd8b7a861ee096120052");</script>
<!-- end Mixpanel -->


</head>

<body style="background-image: url('{{URL}}{{ STATIC_URL }}images/signinbg.png');width:100%;height:100%">
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : {{ FACEBOOK_APP_ID }}, // App ID
      channelUrl : '//WWW.tivly.COM/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    // Additional initialization code here
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>


<script>
    mixpanel.track("Signin Viewed")
</script>

<div class="container" style="width:80%;position:absolute;box-shadow: 0px 0px 20px white;background:black;margin-top:20%;margin-left:10%;margin-right:10%;">
    <div class="grid onehalf" style="width:40%; margin-top:20px;">
    			{% if pictureAvailable%}
    			<h2 style = "text-align: center;">{{ businessName }}</h2>
    			<img src="{{ pictureLocation }}" style="margin-left:45px;"/>
    			
    			{%else%}
                <img src="{{ STATIC_URL }}images/tagline.png" style="margin-left:45px;"/>
                {%endif%}
    </div>
    
	
    <div class="grid onehalf last" style="width:55%; margin-top:20px;">
    	
        <div style="position:relative;text-align: center;margin-top:50px;"><h2>Validate account to receive your reward</h2>
        <div><a href="https://graph.facebook.com/oauth/authorize?client_id={{ FACEBOOK_APP_ID }}&redirect_uri={{facebookRedirect}}&scope=publish_stream,email,read_friendlists,&display=popup"><img src="https://developers.facebook.com/images/devsite/login-button.png"/></a></div>
        </div>
   		<div class="fb-like" style="display:inline-block; margin-top:60px; margin-left:30%;" data-colorscheme="dark" data-href="https://www.facebook.com/gotivly" data-send="false" data-width="200" data-show-faces="false"></div>       
        

    </div>
</div>
<!-- END MAIN CONTAINER -->





</body>
</html>
