{%extends 'splash_base.html'%}

{%block title%}Tivly- Rewarding Discovery{%endblock%}
<body>
{%block MixPanel%}
<script type="text/javascript">
    mixpanel.track("About Us Page Visited")
</script>
{%endblock%}

{%block content%}
<!-- START MAIN CONTAINER -->
<div class="container">

<br class="clear">
    <br>
    <h1 style="border-bottom:1px dotted gray">Our Story</h1>
    <h2>Traditional advertising sucks. No matter how cool it may seem (Tivly and Jon Hamm are family friends), it's an expensive nuisance. We've trained ourselves to tune out the majority of ads, but companies are still forcing billions of dollars into ads each year ($60B in tv ads specifically, $140B in 2011 advertising expenditure overall). There has to be a better way - a less expensive, more effective, and non-intrusive way. 
<br class="clear"/>
<br>
That is Tivly.
<br>
<br>
We put the responsibility of advertising in consumers' hands, where it always should have been. If a product or service is amazing, share it. If not, don't. This way the best products will organically rise to the top without the need for persuasive ads or misinformation. When consumers take control of sharing information, traditional means of advertising become less effective in selling products. 
<br>
<br>
What will happen with the $140,000,000,000 previously spent on advertising each year? We can't wait to find out!
<br>
<br>
So take control of the power of information, and we will create a better marketplace for all. </h2>
    <h1 style="border-bottom:1px dotted gray">The Team</h1>
    <h2>Tivly was launched out of Duke University, where the founders met. Now based out of Palo Alto, CA, the team is moving quickly and growing fast! Check out <a href="{{ URL }}/splash/jobs">Jobs</a> to join the team.</h2>

        <br class="clear" />


</div><!-- END MAIN CONTAINER -->
{%endblock%}
