{%extends 'splash_base.html'%}

{%block title%}Merchants - Tivly{%endblock%}

{%block MixPanel%}
<script type="text/javascript">
    mixpanel.track("Merchant Page Visited")
</script>
{%endblock%}

{%block content%}
<!-- START MAIN CONTAINER -->
<div class="container">
<br class="clear" style="line-height: 60px"/>

    <h1 class="page-header search" style="font-size:34px; padding:10px 0px 10px 0px;">Do you know if your <span style="color:#ff9966">social media campaigns</span> are <span style="color:#ff9966">profitable?</span></h1>
    <h1 class="page-header star" style="font-size:34px; padding:10px 0px 10px 0px;"><span style="font-size: 40px">With <span style="color:#0099cc">Tivly</span>, they will be. </span><br /><b>Monetize</b>, <b>Measure</b>, and <b>Amplify</b> your <span style="color:#0099cc">social media.</span></h1>

        <br class="clear" />
	
    <h1 class="page-header" style="font-size:40px; color:#333333; font-weight: bolder">How Tivly works</h1>
    <br class="clear">
	    <h1 class="page-header" style="font-size:40px; color:#333333; font-weight: bolder">Campaign Builder</h1>
		<table>
		    <tr style="background-color: #333;color:white">
			<td>Condition</td>
			<td>Reward</td>
		    </tr>
		    <tr>
			<td style="width:70%;font-size:24px; padding:8px;">First-Time Visit</td>
			<td style="font-size:24px;padding: 8px;text-align: right;">Get 10% Off</td>
		    </tr>
		    <tr>
			<td style="width:70%;font-size:24px;padding: 8px;">When you refer 3 friends</td>
			<td style="font-size:24px;padding: 8px;text-align: right;">Get $25 Off</td>
		    </tr>
		    <tr>
			<td style="width:70%;font-size:24px;padding: 8px;">When you refer 8 friends</td>
			<td style="font-size:24px;padding: 8px;text-align: right;">Get $75 Off</td>
		    </tr>
		</table>
    
    <div style="border-bottom:2px solid #EFEFEF; border-top:2px solid #EFEFEF;margin:15px 0px 15px 0px;padding:15px 0px 15px 0px;">
    <h2 style="font-size:36px;color:#0099cc; font-weight: bolder;font-family: Georgia;">Monetize</h2>
	<h2>1. Set rewards to turn online viewers into buyers, and buyers into marketers</h2>
	<img src="{{STATIC_URL}}splash_images/rewarddemo.png" />

    </div>
    
    <div style="border-bottom:2px solid #EFEFEF; border-top:2px solid #EFEFEF;margin:15px 0px 15px 0px;padding:15px 0px 15px 0px;">
    <h2 style="font-size:36px;color:#0099cc; font-weight: bolder;font-family: Georgia">Measure</h2>
	<h2 style="margin:0px">2. Enter labels for your business's marketing channels into your dashboard</h2>
	<p style="margin: 0px;line-height: 13px;"><i>(This business uses Facebook, AdWords, Twitter, and a Company Blog for marketing - channels can be added, removed, or modified at any time)</i></p>
	<br class="clear" />
	<img style="height: 400px; margin-bottom:5px;" src="{{STATIC_URL}}splash_images/bizdash.png" />
	<div style="border-bottom:2px solid #EFEFEF; border-top:2px solid #EFEFEF;margin:15px 0px 15px 0px;padding:15px 0px 15px 0px;">
	<h2>3. Copy  unique links into your respective marketing channels</h2>
	<img style="display:inline-block;float:left;margin-right: 5px;" src="{{STATIC_URL}}splash_images/fbdemo.png" />
	<img style="display:inline-block;float:left;" src="{{STATIC_URL}}splash_images/tweetdemo.png" />
	<br style="clear: both" />
	</div>
	<h2>4. When customers click a link, the discount you set is loaded on their credit card and redeemed when a purchase is made. You can now monitor:</h2>
	    <ul>
		<li style="font-size: 20px;">How many customers come from each marketing channel</li>
		<li style="font-size: 20px;">Revenue per marketing channel</li>
		<li style="font-size: 20px;">Cost per marketing channel</li>
		<li style="font-size: 20px;">Your marketing ROI for each channel and overall</li>
	    </ul>
	</div>
    
    <div style="border-bottom:2px solid #EFEFEF; border-top:2px solid #EFEFEF;margin:15px 0px 15px 0px;padding:15px 0px 15px 0px;">
	<h2 style="font-size:36px;color:#0099cc; font-weight: bolder;font-family: Georgia">Amplify</h2>
	<h2>From one unified platform, you can now reward your customers for referring your business to others. A friend's recommendation is <b>12x</b> more effective than a brand advertisement, and a fraction the cost.</h2>
		    <img src="{{STATIC_URL}}splash_images/sharedemo1.png" style="float:left" />
		    <img src="{{STATIC_URL}}splash_images/rewardsdemo1.png" style="float:left; margin-left:15px;" />
    <br class="clear" />
    
    </div>	
    <br class="clear" />


        <h1 class="slide-break"><a href="{{ URL }}/splash/merchantsignup"><span class="wb-logo2"></span></a><br /><span style="color:#ff9966">First month is free.</span> Contact us for all the pricing details!</h2>
        <br class="clear" />

</div><!-- END MAIN CONTAINER -->
{%endblock%}