{%extends 'splash_base.html'%}
{%block title%}Tivly- Rewarding Discovery{%endblock%}

{%block extraHead%} <meta name="google-site-verification" content="kKhNkhNGqjYuNXW_UtOZyLhg1_JSIdwlOyYxP7W738U" />
{%endblock%}

{%block css%}
	<link href="{{ STATIC_URL }}css/jquery.fancybox.css" rel="stylesheet"
		type="text/css" media="screen" />
{%endblock%}

{%block js%}
    <script type="text/javascript"
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}splash_js/superfish.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}splash_js/jquery.color.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}splash_js/slides.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}splash_js/jquery.fancybox.pack.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}splash_js/custom.js"></script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : {{ FACEBOOK_API_ID }}, // App ID
      channelUrl : '//www.tivly.com/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    // Additional initialization code here
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>
{%endblock%}

{%block MixPanel%}
<script type="text/javascript">
    mixpanel.track("Landing Page Loaded")
</script>
<script>
    mixpanel.track_links("#app-store a, #mxp a", "User Subscribe")
</script>
{%endblock%}

{%block content%}
<!-- START MAIN CONTAINER -->
<div class="slider-wrapper">
    

    <!-- start slider -->  
    <div id="feature-slider" >                
    
        <!-- start slides_container-->
        <div class="slides_container" style="height:358px">
      
            <!-- start slide -->
            <div class="slide" style="padding:40px 0px 0px 0px">
            
            	
                <div class="cloud-container">
                    <div class="cloud-icons"></div>
                    <img src="{{ STATIC_URL }}splash_images/app-cloud.png" alt="app cloud" class="app-cloud" />
				</div>
                
                <br class="clear" />
                
			</div><!-- end slide -->
            
            
	    
            <!-- start slide -->
            <div class="slide">
                        
                <div class="grid onehalf">
                
                  <h2 class="text-replace">Share all your favorite stores from<span style="color:#ff9966"> one easy place</span></h2>
                    
                    <p class="justify">The more you share, the more rewards you and your friends get! A 10% discount is sent with every recommendation and <strong>automatically loaded to your friends' credit card</strong> when they sign up. When a friend uses your recommendation, you get one point towards unique rewards of your own. Check out <strong style="color:#ff9966">screenshots</strong> to see how simple Tivly is. Free lunch has never been easier.</p>
                    
                    <p><strong>Go ahead! Click one of the images to the right, <em>you won't be disappointed!</em></strong></p>
                                                                                
                </div>
                
                <div class="grid onehalf last">
                                
                	<ul class="screenshots">
                    	<li><a href="{{ STATIC_URL }}splash_images/screens/scmyfavorites.png" class="fancybox" title="Share all your favorite restaurants from one easy place" rel="screens"><img src="{{ STATIC_URL }}splash_images/screens/smallmyfavorites.png" alt="screen1" /><span></span></a></li>
                    	<li><a href="{{ STATIC_URL }}splash_images/screens/scbaumehome.png" class="fancybox" title="Share via Facebook, Twitter, or email" rel="screens"><img src="{{ STATIC_URL }}splash_images/screens/smallbaumehome.png" alt="screen2" /><span></span></a></li>
                    	<li><a href="{{ STATIC_URL }}splash_images/screens/scbaumeshare.png" class="fancybox" title="Follow your rewards at all locations" rel="screens"><img src="{{ STATIC_URL }}splash_images/screens/smallbaumeshare.png" alt="screen3" /><span></span></a></li>
                    	<li><a href="{{ STATIC_URL }}splash_images/screens/screwards.png" class="fancybox" title="There is such thing as a free lunch" rel="screens"><img src="{{ STATIC_URL }}splash_images/screens/screwardss.png" alt="screen4" /><span></span></a></li>
                    	</ul><br class="clear"/>
                        
                </div>
                
            </div><!-- end slide -->
            
                   
        </div><!-- end slide_container -->
        
        <a href="#_" class="prev" title="Previous Slide">Previous</a><a href="#_" class="next" title="Next Slide">Next</a>
                                         
    </div><!-- end slider -->    
    
        
    <br class="clear" />
    
</div><!-- END MAIN CONTAINER -->


<!-- start subscribe area -->
<div id="subscribe-area" style="height:80px;">

	<a id="sub-close" href="#_"><img src="{{STATIC_URL}}splash_images/close.png" alt="close" /></a>
    
    
	<!-- start container -->
	<div class="container" style="text-align: center;">
	<a style ="display:inline-block;margin-top:30px;" href="https://www.tivly.com/offer/2YIKLB/000000/">
      <img src="https://developers.facebook.com/images/devsite/login-button.png"/></a>
    </div><!-- end container -->
    
</div><!-- end subscribe area -->


    <!-- start container -->
    <div class="container">
    
    	<h2 class="slide-break">Why Choose <span class="wb-logo">tivly</span> to discover<br></h2>
    
        <ul id="features">
	    
	    <li class="icon eat"><strong>Share your favorite stores</strong> - Send recommendations and discounts to friends through Facebook, Twitter, and email. When they take your recommendations, you get rewarded.</li>            

   	    <li class="right icon search"><strong>Discover your friends' great finds</strong> - Everyone has a friend who is "in the know." Now you can take their recommendations with ease (and get "in the know" yourself)!</li>

	    <li class="icon tag"><strong>Rewards automatically on your credit card</strong> - Keep swiping your card at your favorite stores and tivly automatically loads rewards onto your card - just swipe to redeem.</li>

            <li class="right icon heart"><strong>All your favorite stores in one place</strong> - Now when you recommend a store to a friend, they get the full details - offerings, location, hours - everything they need to enjoy your favorite spot!</li>

            
        </ul>
        
        <br class="clear" />
        
        
        <!-- start app store button area -->
        <div id="app-store">
		
        	<a href="#subscribe-area" class="sublink" data-to=".pagination"><img src="{{ STATIC_URL }}splash_images/signup-circle.png" alt="App Store" /></a> 
        
        </div><!-- end app store area -->
        
    </div><!-- end container -->

</div><!-- end bottom content -->
{%endblock%}