{%extends 'base.html'%}

{%block title%}Tivly - Rewarding Discovery{%endblock%}

{%block MixPanel%}
<script type="text/javascript">
    mixpanel.track("Terms Page Visited")
</script>
{% endblock %}

{%block content%}
<!-- START MAIN CONTAINER -->
<div class="container">

<iframe class="scribd_iframe_embed" src="http://www.scribd.com/embeds/103837046/content?start_page=1&view_mode=scroll&access_key=key-rw4fe3zeh7nlt5917os&secret_password=2lgf6vunke0gsyb6vqyg" data-auto-height="true" data-aspect-ratio="0.772727272727273" scrolling="no" id="doc_38245" width="100%" height="600" frameborder="0"></iframe>

        <br class="clear" />


</div><!-- END MAIN CONTAINER -->
{%endblock%}