body{
    padding:0px;
    margin:0px;
}
h1{
    font-size:20px;
    padding:0px;
    margin:0px;
}
h2{
    font-size:14px;
    color:gray;
    padding:0px;
    margin:0px;
    margin-bottom:0px;
    }
h3{
    font-size:14px;
    text-decoration:underline;
    color:black;
    padding:0px;
    margin:0px;
    margin-bottom:0px; 
}
h4{
    font-size:13px;
    color:black;
    padding:0px;
    margin:0px;
    margin-bottom:0px;
}
h5{
    font-size:20px;
    color:red;
    padding:0px;
    margin:0px;
    margin-bottom:0px;
}
p{
    font-size:12px;
    color:black;
    padding:0px;
    margin:0px;
    margin-bottom:0px;
}
#wrapper{
    width:700px;
    margin:0 auto;
    padding:3px;
    overflow:hidden;
}
#restaurant{
    width:300px;
    float:left;
    margin-left:25px;
}

#hoursleft{
    float:left;
    margin-right:10px;
}
#hoursmid{
    float:left;
    margin-right:10px;
}
#hoursright{
    float:left;
}
#social{
    width:340px;
    float:left;
    margin-left:30px;
}
#social h2{
    font-size:16px;
    color:gray;
    padding:0px;
    margin:0px;
    margin-bottom:0px;
}
